/*

Helpful Emoji 🐨 💰 💯

- Kody the Koala 🐨 will tell you when there's something specific you should do
- Marty the Money Bag 💰 will give you specific tips (and sometimes code) along the way
- Hannah the Hundred 💯 will give you extra challenges you can do if you finish the exercises early.

*/

/* 

🐨 Add styles to the components using the CSS variables.
Use Dev Mode in Figma to inspect elements and find the variable name.

*/

/* Dashboard */

.dashboard {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

/* 
  💰 The top bar and sidebar are typically placed on top of
   the dashboard base layer to provide visual hierarchy
*/

.top-bar,
.sidebar {
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

.table {
  background-color: light-dark(white, black);
}

.menu {
  background-color: light-dark(white, black);
}

.top-bar {
  border-bottom: 1px solid light-dark(black, white);
}

.sidebar {
  border-right: 1px solid light-dark(black, white);
}

/*
  🐨 The sidebar link is interactive and can be used to navigate to different sections of the application. Add some visual style.
*/

.sidebar-link {
}

/* 
  💰 The ghost-icon button is used for actions in the top bar and bottom of sidebar
*/

.button--ghost-icon {
}

/* Heading - Title */
.heading {
}

/* Subtitle - Application name */

.subtitle {
}

/* Chip */
/* 
  💰 The chip is used to display information in a compact way. 
  It can be used to display status, tags, or other information.
*/

.chip {
  background-color: light-dark(white, black);
  border: 1px solid light-dark(black, white);
  color: light-dark(black, white);
}

.chip--info {
  background-color: light-dark(white, black);
  border: 1px solid light-dark(black, white);
  color: light-dark(black, white);
}

.chip--success {
  background-color: light-dark(white, black);
  border: 1px solid light-dark(black, white);
  color: light-dark(black, white);
}

.chip--warning {
  background-color: light-dark(white, black);
  border: 1px solid light-dark(black, white);
  color: light-dark(black, white);
}

.chip--danger {
  background-color: light-dark(white, black);
  border: 1px solid light-dark(black, white);
  color: light-dark(black, white);
}

/* 
  💰 The tab is used to navigate between content in the main frame
*/

.tab {
  border-bottom: 1px solid light-dark(#d4d4d4, #4a4a4a);
  color: light-dark(black, white);

  &:hover {
    background-color: light-dark(#e1e1e1, #333);
  }
}

.tab--current {
  border-bottom: 2px solid light-dark(black, white);
  color: light-dark(black, white);
}

/* Button */

.button--primary {
  background-color: light-dark(black, white);
  color: light-dark(white, black);

  &:hover {
  }
}

.button--outlined {
  color: light-dark(black, white);
  border-color: light-dark(black, white);

  &:hover {
  }
}

/*
 💯 Style other elements if you have the time!
*/

/* Text input, Search */

.text-input {
  border: 1px solid light-dark(black, white);
}

.text-input__icon {
}

.sidebar-link--active {
}

/* Table */
/* Table data cell */

.td {
}

/* Checkmark - Selected table row */

.checkmark {
  color: light-dark(black, white);
}

/* Table data cell in a selected row */

.tr--active .td {
}

/* Table header */

/* 
  🐨 The table header cell is interactive and can be used to sort the table. Add some visual style.
*/
.th {
  border-bottom: 1px solid light-dark(black, white);
}

/* 🐨 Add a visual indicator to the active table header cell. This is typically used to indicate sorting of the column in the table.  */
.th--active {
}
