:root {
  /* Design system colors using light-dark() function */
  --color-moss-green-background-default: light-dark(
    oklch(1 0.011 204.6),
    oklch(0.15 0.007 204.6)
  );
  --color-moss-green-background-subtle: light-dark(
    oklch(0.96 0.017 204.6),
    oklch(0.25 0.018 204.6)
  );
  --color-moss-green-background-medium-default: light-dark(
    oklch(0.88 0.032 204.6),
    oklch(0.45 0.064 204.6)
  );
  --color-moss-green-background-medium-hover: light-dark(
    oklch(0.84 0.041 204.6),
    oklch(0.48 0.071 204.6)
  );
  --color-moss-green-background-medium-active: light-dark(
    oklch(0.8 0.051 204.6),
    oklch(0.5 0.075 204.6)
  );
  --color-moss-green-border-subtle: light-dark(
    oklch(0.82 0.046 204.6),
    oklch(0.63 0.084 204.6)
  );
  --color-moss-green-border-medium: light-dark(
    oklch(0.7 0.075 204.6),
    oklch(0.66 0.081 204.6)
  );
  --color-moss-green-border-strong: light-dark(
    oklch(0.66 0.081 204.6),
    oklch(0.68 0.078 204.6)
  );
  --color-moss-green-background-strong-default: light-dark(
    oklch(0.5 0.075 204.6),
    oklch(0.78 0.057 204.6)
  );
  --color-moss-green-background-strong-hover: light-dark(
    oklch(0.44 0.062 204.6),
    oklch(0.85 0.039 204.6)
  );
  --color-moss-green-background-strong-active: light-dark(
    oklch(0.42 0.057 204.6),
    oklch(0.92 0.024 204.6)
  );
  --color-moss-green-text-subtle: light-dark(
    oklch(0.52 0.078 204.6),
    oklch(0.91 0.026 204.6)
  );
  --color-moss-green-text-strong: light-dark(
    oklch(0.32 0.032 204.6),
    oklch(0.99 0.013 204.6)
  );
  --color-moss-green-text-contrast-subtle: light-dark(
    oklch(0.89 0.03 204.6),
    oklch(0.18 0.009 204.6)
  );
  --color-moss-green-text-contrast-strong: light-dark(
    oklch(0.99 0.013 204.6),
    oklch(0.1 0.004 204.6)
  );

  --color-gray-background-default: light-dark(oklch(1 0 0), oklch(0.15 0 0));
  --color-gray-background-subtle: light-dark(oklch(0.96 0 0), oklch(0.25 0 0));
  --color-gray-background-medium-default: light-dark(
    oklch(0.88 0 0),
    oklch(0.45 0 0)
  );
  --color-gray-background-medium-hover: light-dark(
    oklch(0.84 0 0),
    oklch(0.48 0 0)
  );
  --color-gray-background-medium-active: light-dark(
    oklch(0.8 0 0),
    oklch(0.5 0 0)
  );
  --color-gray-border-subtle: light-dark(oklch(0.82 0 0), oklch(0.63 0 0));
  --color-gray-border-medium: light-dark(oklch(0.7 0 0), oklch(0.66 0 0));
  --color-gray-border-strong: light-dark(oklch(0.66 0 0), oklch(0.68 0 0));
  --color-gray-background-strong-default: light-dark(
    oklch(0.5 0 0),
    oklch(0.78 0 0)
  );
  --color-gray-background-strong-hover: light-dark(
    oklch(0.44 0 0),
    oklch(0.85 0 0)
  );
  --color-gray-background-strong-active: light-dark(
    oklch(0.42 0 0),
    oklch(0.92 0 0)
  );
  --color-gray-text-subtle: light-dark(oklch(0.52 0 0), oklch(0.91 0 0));
  --color-gray-text-strong: light-dark(oklch(0.32 0 0), oklch(0.99 0 0));
  --color-gray-text-contrast-subtle: light-dark(
    oklch(0.89 0 0),
    oklch(0.18 0 0)
  );
  --color-gray-text-contrast-strong: light-dark(
    oklch(0.99 0 0),
    oklch(0.1 0 0)
  );

  --color-green-background-default: light-dark(
    oklch(1 0.022 143),
    oklch(0.15 0.013 143)
  );
  --color-green-background-subtle: light-dark(
    oklch(0.96 0.033 143),
    oklch(0.25 0.036 143)
  );
  --color-green-background-medium-default: light-dark(
    oklch(0.88 0.062 143),
    oklch(0.45 0.125 143)
  );
  --color-green-background-medium-hover: light-dark(
    oklch(0.84 0.081 143),
    oklch(0.48 0.139 143)
  );
  --color-green-background-medium-active: light-dark(
    oklch(0.8 0.101 143),
    oklch(0.5 0.146 143)
  );
  --color-green-border-subtle: light-dark(
    oklch(0.82 0.091 143),
    oklch(0.63 0.164 143)
  );
  --color-green-border-medium: light-dark(
    oklch(0.7 0.146 143),
    oklch(0.66 0.159 143)
  );
  --color-green-border-strong: light-dark(
    oklch(0.66 0.159 143),
    oklch(0.68 0.153 143)
  );
  --color-green-background-strong-default: light-dark(
    oklch(0.5 0.146 143),
    oklch(0.78 0.111 143)
  );
  --color-green-background-strong-hover: light-dark(
    oklch(0.44 0.12 143),
    oklch(0.85 0.076 143)
  );
  --color-green-background-strong-active: light-dark(
    oklch(0.42 0.111 143),
    oklch(0.92 0.046 143)
  );
  --color-green-text-subtle: light-dark(
    oklch(0.52 0.153 143),
    oklch(0.91 0.05 143)
  );
  --color-green-text-strong: light-dark(
    oklch(0.32 0.062 143),
    oklch(0.99 0.025 143)
  );
  --color-green-text-contrast-subtle: light-dark(
    oklch(0.89 0.058 143),
    oklch(0.18 0.018 143)
  );
  --color-green-text-contrast-strong: light-dark(
    oklch(0.99 0.025 143),
    oklch(0.1 0.007 143)
  );

  --color-blue-background-default: light-dark(
    oklch(1 0.018 240.7),
    oklch(0.15 0.011 240.7)
  );
  --color-blue-background-subtle: light-dark(
    oklch(0.96 0.027 240.7),
    oklch(0.25 0.029 240.7)
  );
  --color-blue-background-medium-default: light-dark(
    oklch(0.88 0.051 240.7),
    oklch(0.45 0.102 240.7)
  );
  --color-blue-background-medium-hover: light-dark(
    oklch(0.84 0.066 240.7),
    oklch(0.48 0.113 240.7)
  );
  --color-blue-background-medium-active: light-dark(
    oklch(0.8 0.082 240.7),
    oklch(0.5 0.12 240.7)
  );
  --color-blue-border-subtle: light-dark(
    oklch(0.82 0.074 240.7),
    oklch(0.63 0.134 240.7)
  );
  --color-blue-border-medium: light-dark(
    oklch(0.7 0.12 240.7),
    oklch(0.66 0.13 240.7)
  );
  --color-blue-border-strong: light-dark(
    oklch(0.66 0.13 240.7),
    oklch(0.68 0.125 240.7)
  );
  --color-blue-background-strong-default: light-dark(
    oklch(0.5 0.12 240.7),
    oklch(0.78 0.091 240.7)
  );
  --color-blue-background-strong-hover: light-dark(
    oklch(0.44 0.099 240.7),
    oklch(0.85 0.062 240.7)
  );
  --color-blue-background-strong-active: light-dark(
    oklch(0.42 0.091 240.7),
    oklch(0.92 0.038 240.7)
  );
  --color-blue-text-subtle: light-dark(
    oklch(0.52 0.125 240.7),
    oklch(0.91 0.041 240.7)
  );
  --color-blue-text-strong: light-dark(
    oklch(0.32 0.051 240.7),
    oklch(0.99 0.02 240.7)
  );
  --color-blue-text-contrast-subtle: light-dark(
    oklch(0.89 0.047 240.7),
    oklch(0.18 0.015 240.7)
  );
  --color-blue-text-contrast-strong: light-dark(
    oklch(0.99 0.02 240.7),
    oklch(0.1 0.006 240.7)
  );

  --color-orange-background-default: light-dark(
    oklch(1 0.022 58.7),
    oklch(0.15 0.013 58.7)
  );
  --color-orange-background-subtle: light-dark(
    oklch(0.96 0.033 58.7),
    oklch(0.25 0.036 58.7)
  );
  --color-orange-background-medium-default: light-dark(
    oklch(0.88 0.062 58.7),
    oklch(0.45 0.124 58.7)
  );
  --color-orange-background-medium-hover: light-dark(
    oklch(0.84 0.08 58.7),
    oklch(0.48 0.138 58.7)
  );
  --color-orange-background-medium-active: light-dark(
    oklch(0.8 0.1 58.7),
    oklch(0.5 0.145 58.7)
  );
  --color-orange-border-subtle: light-dark(
    oklch(0.82 0.09 58.7),
    oklch(0.63 0.163 58.7)
  );
  --color-orange-border-medium: light-dark(
    oklch(0.7 0.145 58.7),
    oklch(0.66 0.157 58.7)
  );
  --color-orange-border-strong: light-dark(
    oklch(0.66 0.157 58.7),
    oklch(0.68 0.152 58.7)
  );
  --color-orange-background-strong-default: light-dark(
    oklch(0.5 0.145 58.7),
    oklch(0.78 0.11 58.7)
  );
  --color-orange-background-strong-hover: light-dark(
    oklch(0.44 0.12 58.7),
    oklch(0.85 0.075 58.7)
  );
  --color-orange-background-strong-active: light-dark(
    oklch(0.42 0.11 58.7),
    oklch(0.92 0.046 58.7)
  );
  --color-orange-text-subtle: light-dark(
    oklch(0.52 0.152 58.7),
    oklch(0.91 0.05 58.7)
  );
  --color-orange-text-strong: light-dark(
    oklch(0.32 0.062 58.7),
    oklch(0.99 0.025 58.7)
  );
  --color-orange-text-contrast-subtle: light-dark(
    oklch(0.89 0.058 58.7),
    oklch(0.18 0.018 58.7)
  );
  --color-orange-text-contrast-strong: light-dark(
    oklch(0.99 0.025 58.7),
    oklch(0.1 0.007 58.7)
  );

  --color-red-background-default: light-dark(
    oklch(1 0.031 21.1),
    oklch(0.15 0.018 21.1)
  );
  --color-red-background-subtle: light-dark(
    oklch(0.96 0.046 21.1),
    oklch(0.25 0.05 21.1)
  );
  --color-red-background-medium-default: light-dark(
    oklch(0.88 0.087 21.1),
    oklch(0.45 0.175 21.1)
  );
  --color-red-background-medium-hover: light-dark(
    oklch(0.84 0.113 21.1),
    oklch(0.48 0.193 21.1)
  );
  --color-red-background-medium-active: light-dark(
    oklch(0.8 0.14 21.1),
    oklch(0.5 0.204 21.1)
  );
  --color-red-border-subtle: light-dark(
    oklch(0.82 0.126 21.1),
    oklch(0.63 0.229 21.1)
  );
  --color-red-border-medium: light-dark(
    oklch(0.7 0.204 21.1),
    oklch(0.66 0.221 21.1)
  );
  --color-red-border-strong: light-dark(
    oklch(0.66 0.221 21.1),
    oklch(0.68 0.214 21.1)
  );
  --color-red-background-strong-default: light-dark(
    oklch(0.5 0.204 21.1),
    oklch(0.78 0.154 21.1)
  );
  --color-red-background-strong-hover: light-dark(
    oklch(0.44 0.168 21.1),
    oklch(0.85 0.106 21.1)
  );
  --color-red-background-strong-active: light-dark(
    oklch(0.42 0.154 21.1),
    oklch(0.92 0.064 21.1)
  );
  --color-red-text-subtle: light-dark(
    oklch(0.52 0.214 21.1),
    oklch(0.91 0.07 21.1)
  );
  --color-red-text-strong: light-dark(
    oklch(0.32 0.087 21.1),
    oklch(0.99 0.035 21.1)
  );
  --color-red-text-contrast-subtle: light-dark(
    oklch(0.89 0.081 21.1),
    oklch(0.18 0.026 21.1)
  );
  --color-red-text-contrast-strong: light-dark(
    oklch(0.99 0.035 21.1),
    oklch(0.1 0.01 21.1)
  );
}
