@import 'tailwindcss';
@import './colors.css';
@custom-variant dark (&:where(.dark, .dark *));

:root,
[data-color-scheme='light'],
.light {
  color-scheme: light;
}

[data-color-scheme='dark'],
.dark {
  color-scheme: dark;
}

:root {
  --background: var(--color-gray-background-default);
  --text: var(--color-gray-text-strong);
}

@theme inline {
  --background-color-default: var(--color-gray-background-default);
  --background-color-subtle: var(--color-gray-background-subtle);
  --background-color-neutral-medium-default: var(
    --color-gray-background-medium-default
  );
  --background-color-neutral-medium-hover: var(
    --color-gray-background-medium-hover
  );
  --background-color-neutral-medium-active: var(
    --color-gray-background-medium-active
  );

  --background-color-danger-medium-default: var(
    --color-red-background-medium-default
  );
  --background-color-danger-medium-hover: var(
    --color-red-background-medium-hover
  );
  --background-color-danger-medium-active: var(
    --color-red-background-medium-active
  );

  --border-color-neutral-subtle: var(--color-gray-border-subtle);
  --border-color-neutral-medium: var(--color-gray-border-medium);
  --border-color-neutral-strong: var(--color-gray-border-strong);

  --color-text-strong: var(--color-gray-text-strong);
  --color-text-subtle: var(--color-gray-text-subtle);

  --color-text-default: var(--color-gray-text-strong);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans);
}
