@import 'tailwindcss';
@import './colors.css';
@custom-variant dark (&:where(.dark, .dark *));

:root,
[data-color-scheme='light'],
.light {
  color-scheme: light;
}

[data-color-scheme='dark'],
.dark {
  color-scheme: dark;
}

:root {
  --background: var(--color-gray-background-default);
  --text: var(--color-gray-text-strong);
}

@theme inline {
  --color-bg-neutral-default: var(--color-gray-background-default);
  --color-bg-neutral-subtle: var(--color-gray-background-subtle);
  --color-text-neutral-strong: var(--color-gray-text-strong);
  --color-text-neutral-subtle: var(--color-gray-text-subtle);
  --color-text-neutral-inverted-strong: var(--color-gray-text-inverted-strong);
  --color-text-neutral-inverted-subtle: var(--color-gray-text-inverted-subtle);

  --color-text-danger-strong: var(--color-red-text-strong);
  --color-text-danger-subtle: var(--color-red-text-subtle);

  --color-text-success-strong: var(--color-green-text-strong);
  --color-text-success-subtle: var(--color-green-text-subtle);

  --color-bg-default: var(--color-gray-background-default);
  --color-text-default: var(--color-gray-text-strong);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans);
}
