node_modules
dist
packages/eds-tokens/build
packages/eds-tokens/build-generate-variables
packages/eds-color-palette-generator
storybook-build
**/next-env.d.ts
.eslintcache
node_modules/.cache
**/build
**/coverage
**/.next
**/playwright-report
**/test-results
**/.turbo
