:root {
  --eds-family-header: var(--eds-primitives-font-family-equinor);
  --eds-family-ui: var(--eds-primitives-font-family-inter);
  --eds-weight-bold: var(--eds-primitives-weight-scale-bold);
  --eds-weight-medium: var(--eds-primitives-weight-scale-medium);
  --eds-weight-normal: var(--eds-primitives-weight-scale-normal);
}