:root {
  --eds-density-corner-radius-none: var(--eds-primitives-spacing-0);
  --eds-density-corner-radius-pill: 9999px;
  --eds-density-corner-radius-rounded: var(--eds-primitives-spacing-25);
  --eds-density-corner-radius-rounded-outer: var(--eds-primitives-spacing-37);
  --eds-density-spacing-2xl: var(--eds-primitives-spacing-175);
  --eds-density-spacing-2xs: var(--eds-primitives-spacing-37);
  --eds-density-spacing-3xl: var(--eds-primitives-spacing-200);
  --eds-density-spacing-3xs: var(--eds-primitives-spacing-25);
  --eds-density-spacing-4xs: var(--eds-primitives-spacing-12);
  --eds-density-spacing-lg: var(--eds-primitives-spacing-125);
  --eds-density-spacing-md: var(--eds-primitives-spacing-100);
  --eds-density-spacing-none: var(--eds-primitives-spacing-0);
  --eds-density-spacing-sm: var(--eds-primitives-spacing-75);
  --eds-density-spacing-xl: var(--eds-primitives-spacing-150);
  --eds-density-spacing-xs: var(--eds-primitives-spacing-50);
  --eds-density-typography-header-2xl-font-size: var(--eds-primitives-type-scale-equinor-700-font-size);
  --eds-density-typography-header-2xl-line-height: var(--eds-primitives-lineheight-scale-700-default);
  --eds-density-typography-header-3xl-font-size: var(--eds-primitives-type-scale-equinor-700-font-size);
  --eds-density-typography-header-3xl-line-height: var(--eds-primitives-lineheight-scale-800-default);
  --eds-density-typography-header-4xl-font-size: var(--eds-primitives-type-scale-equinor-900-font-size);
  --eds-density-typography-header-4xl-line-height: var(--eds-primitives-lineheight-scale-800-default);
  --eds-density-typography-header-lg-font-size: var(--eds-primitives-type-scale-equinor-500-font-size);
  --eds-density-typography-header-lg-line-height: var(--eds-primitives-lineheight-scale-500-default);
  --eds-density-typography-header-md-font-size: var(--eds-primitives-type-scale-equinor-400-font-size);
  --eds-density-typography-header-md-line-height: var(--eds-primitives-lineheight-scale-400-default);
  --eds-density-typography-header-sm-font-size: var(--eds-primitives-type-scale-equinor-300-font-size);
  --eds-density-typography-header-sm-line-height: var(--eds-primitives-lineheight-scale-200-default);
  --eds-density-typography-header-xl-font-size: var(--eds-primitives-type-scale-equinor-600-font-size);
  --eds-density-typography-header-xl-line-height: var(--eds-primitives-lineheight-scale-500-default);
  --eds-density-typography-header-xs-font-size: var(--eds-primitives-type-scale-equinor-200-font-size);
  --eds-density-typography-header-xs-line-height: var(--eds-primitives-lineheight-scale-200-default);
  --eds-density-typography-ui-2xl-font-size: var(--eds-primitives-type-scale-inter-700-font-size);
  --eds-density-typography-ui-2xl-line-height: var(--eds-primitives-lineheight-scale-700-default);
  --eds-density-typography-ui-3xl-font-size: var(--eds-primitives-type-scale-inter-800-font-size);
  --eds-density-typography-ui-3xl-line-height: var(--eds-primitives-lineheight-scale-800-default);
  --eds-density-typography-ui-4xl-font-size: var(--eds-primitives-type-scale-inter-900-font-size);
  --eds-density-typography-ui-4xl-line-height: var(--eds-primitives-lineheight-scale-800-default);
  --eds-density-typography-ui-5xl-font-size: var(--eds-primitives-type-scale-inter-1000-font-size);
  --eds-density-typography-ui-5xl-line-height: var(--eds-primitives-lineheight-scale-1000-default);
  --eds-density-typography-ui-lg-font-size: var(--eds-primitives-type-scale-inter-500-font-size);
  --eds-density-typography-ui-lg-line-height: var(--eds-primitives-lineheight-scale-500-default);
  --eds-density-typography-ui-md-font-size: var(--eds-primitives-type-scale-inter-400-font-size);
  --eds-density-typography-ui-md-line-height: var(--eds-primitives-lineheight-scale-400-default);
  --eds-density-typography-ui-sm-font-size: var(--eds-primitives-type-scale-inter-300-font-size);
  --eds-density-typography-ui-sm-line-height: var(--eds-primitives-lineheight-scale-200-default);
  --eds-density-typography-ui-xl-font-size: var(--eds-primitives-type-scale-inter-600-font-size);
  --eds-density-typography-ui-xl-line-height: var(--eds-primitives-lineheight-scale-500-default);
  --eds-density-typography-ui-xs-font-size: var(--eds-primitives-type-scale-inter-200-font-size);
  --eds-density-typography-ui-xs-line-height: var(--eds-primitives-lineheight-scale-200-default);
}