.heading--h1 {
  font-family: Equinor;
  font-size: 2.00rem;
  font-weight: 700;
  line-height: 3.00rem;
  letter-spacing: 0.00rem;
}
.heading--h2 {
  font-family: Equinor;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.50rem;
  letter-spacing: 0.00rem;
}
.heading--h3 {
  font-family: Equinor;
  font-size: 1.50rem;
  font-weight: 400;
  line-height: 2.50rem;
  letter-spacing: 0.00rem;
}
.heading--h4 {
  font-family: Equinor;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.00rem;
  letter-spacing: 0.00rem;
}
.heading--h5 {
  font-family: Equinor;
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 1.50rem;
  letter-spacing: 0.01rem;
}
.heading--h6 {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 500;
  line-height: 1.50rem;
  letter-spacing: 0.01rem;
}
.navigation--menu-title {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.01rem;
}
.navigation--menu-tabs {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.01rem;
}
.navigation--menu-label {
  font-family: Equinor;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
.navigation--drawer-first-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.00rem;
  letter-spacing: 0.01rem;
}
.navigation--drawer-second-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.00rem;
  letter-spacing: 0.01rem;
}
.navigation--drawer-child-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.02rem;
}
.navigation--button {
  font-family: Equinor;
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
.input--label {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
.input--text {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.50rem;
  letter-spacing: 0.03rem;
}
.input--text-monospaced {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.50rem;
  letter-spacing: 0.06rem;
}
.input--helper {
  font-family: Equinor;
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.01rem;
}
.paragraph--body-short {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 400;
  line-height: 1.13rem;
  letter-spacing: 0.00rem;
}
.paragraph--caption {
  font-family: Equinor;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
.paragraph--overline {
  font-family: Equinor;
  font-size: 0.63rem;
  font-weight: 500;
  line-height: 1.00rem;
  letter-spacing: 0.07rem;
}
.paragraph--ingress {
  font-family: Equinor;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.50rem;
  letter-spacing: 0.00rem;
}
.paragraph--body-long {
  font-family: Equinor;
  font-size: 1.00rem;
  font-weight: 700;
  line-height: 1.50rem;
  letter-spacing: 0.00rem;
}
.table--cell-header {
  font-family: Equinor;
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 1.50rem;
  letter-spacing: 0.00rem;
}
.table--cell-text {
  font-family: Equinor;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.50rem;
  letter-spacing: 0.00rem;
}
.table--cell-numeric-monospaced {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.00rem;
}
.ui--tooltip {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
.ui--snackbar {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.00rem;
  letter-spacing: 0.00rem;
}
