/* EDS 2.0 Next Components - CSS */
/* Define layer order - eds-components has lowest priority for easy user overrides */
@layer eds-components;

@import '@equinor/eds-tokens/css/variables';
@import './Icon/icon.css';
@import './Button/button.css';
@import './Field/field.css';
@import './Checkbox/checkbox.css';
@import './Radio/radio.css';
@import './Switch/switch.css';
@import './Input/input.css';
@import './TextField/text-field.css';
@import './Chip/chip.css';
@import './Badge/badge.css';

