/* EDS 2.0 Next Components - CSS */
@import '@equinor/eds-tokens/css/variables';

/* Define layer order - eds-components has lowest priority for easy user overrides */
@layer eds-components;

@import './Field/field.css';
