:root {
  --eds-primitives-font-family-equinor: Equinor;
  --eds-primitives-font-family-inter: Inter;
  --eds-primitives-lineheight-scale-100-default: var(--eds-primitives-spacing-75);
  --eds-primitives-lineheight-scale-1000-default: var(--eds-primitives-spacing-225);
  --eds-primitives-lineheight-scale-1100-default: var(--eds-primitives-spacing-250);
  --eds-primitives-lineheight-scale-200-default: var(--eds-primitives-spacing-100);
  --eds-primitives-lineheight-scale-300-default: var(--eds-primitives-spacing-100);
  --eds-primitives-lineheight-scale-400-default: var(--eds-primitives-spacing-125);
  --eds-primitives-lineheight-scale-500-default: var(--eds-primitives-spacing-150);
  --eds-primitives-lineheight-scale-600-default: var(--eds-primitives-spacing-150);
  --eds-primitives-lineheight-scale-700-default: var(--eds-primitives-spacing-175);
  --eds-primitives-lineheight-scale-800-default: var(--eds-primitives-spacing-200);
  --eds-primitives-lineheight-scale-900-default: var(--eds-primitives-spacing-200);
  --eds-primitives-spacing-0: 0px;
  --eds-primitives-spacing-100: 16px;
  --eds-primitives-spacing-1000: 160px;
  --eds-primitives-spacing-1100: 176px;
  --eds-primitives-spacing-12: 2px;
  --eds-primitives-spacing-1200: 192px;
  --eds-primitives-spacing-125: 20px;
  --eds-primitives-spacing-1300: 208px;
  --eds-primitives-spacing-1400: 224px;
  --eds-primitives-spacing-150: 24px;
  --eds-primitives-spacing-1500: 240px;
  --eds-primitives-spacing-1600: 256px;
  --eds-primitives-spacing-1700: 272px;
  --eds-primitives-spacing-175: 28px;
  --eds-primitives-spacing-1800: 288px;
  --eds-primitives-spacing-19: 3px;
  --eds-primitives-spacing-1900: 304px;
  --eds-primitives-spacing-200: 32px;
  --eds-primitives-spacing-2000: 320px;
  --eds-primitives-spacing-2100: 336px;
  --eds-primitives-spacing-2200: 352px;
  --eds-primitives-spacing-225: 36px;
  --eds-primitives-spacing-25: 4px;
  --eds-primitives-spacing-250: 40px;
  --eds-primitives-spacing-275: 44px;
  --eds-primitives-spacing-300: 48px;
  --eds-primitives-spacing-325: 52px;
  --eds-primitives-spacing-350: 56px;
  --eds-primitives-spacing-37: 6px;
  --eds-primitives-spacing-375: 60px;
  --eds-primitives-spacing-400: 64px;
  --eds-primitives-spacing-450: 72px;
  --eds-primitives-spacing-50: 8px;
  --eds-primitives-spacing-500: 80px;
  --eds-primitives-spacing-550: 88px;
  --eds-primitives-spacing-6: 1px;
  --eds-primitives-spacing-600: 96px;
  --eds-primitives-spacing-62: 10px;
  --eds-primitives-spacing-700: 112px;
  --eds-primitives-spacing-75: 12px;
  --eds-primitives-spacing-800: 128px;
  --eds-primitives-spacing-87: 14px;
  --eds-primitives-spacing-900: 144px;
  --eds-primitives-type-scale-equinor-100-font-size: 10px;
  --eds-primitives-type-scale-equinor-1000-font-size: 36px;
  --eds-primitives-type-scale-equinor-1100-font-size: 42px;
  --eds-primitives-type-scale-equinor-200-font-size: 12px;
  --eds-primitives-type-scale-equinor-300-font-size: 14px;
  --eds-primitives-type-scale-equinor-400-font-size: 16px;
  --eds-primitives-type-scale-equinor-500-font-size: 18px;
  --eds-primitives-type-scale-equinor-600-font-size: 21px;
  --eds-primitives-type-scale-equinor-700-font-size: 24px;
  --eds-primitives-type-scale-equinor-800-font-size: 28px;
  --eds-primitives-type-scale-equinor-900-font-size: 32px;
  --eds-primitives-type-scale-inter-100-font-size: 9px;
  --eds-primitives-type-scale-inter-1000-font-size: 32px;
  --eds-primitives-type-scale-inter-1100-font-size: 37px;
  --eds-primitives-type-scale-inter-200-font-size: 10px;
  --eds-primitives-type-scale-inter-300-font-size: 12px;
  --eds-primitives-type-scale-inter-400-font-size: 14px;
  --eds-primitives-type-scale-inter-500-font-size: 16px;
  --eds-primitives-type-scale-inter-600-font-size: 18px;
  --eds-primitives-type-scale-inter-700-font-size: 21px;
  --eds-primitives-type-scale-inter-800-font-size: 24px;
  --eds-primitives-type-scale-inter-900-font-size: 28px;
  --eds-primitives-type-scale-tracking-normal: 0;
  --eds-primitives-weight-scale-bolder: 500;
  --eds-primitives-weight-scale-lighter: 300;
  --eds-primitives-weight-scale-normal: 400;
}