@layer eds-components {
  .eds-search {
    /* Color changes based on state — accent by default, overridden when readonly/disabled */
    & .search-icon {
      color: var(--eds-color-text-subtle);

      [data-readonly] & {
        color: var(--eds-color-border-strong);
      }

      [data-disabled] & {
        color: var(--eds-color-text-disabled);
      }
    }

    /* Hide native clear button — replaced by our custom one */
    & [type='search']::-webkit-search-cancel-button {
      appearance: none;
    }
  }
}
