@layer eds-components {
  .eds-autocomplete {
    & .anchor {
      anchor-name: var(--menu-anchor);
    }

    & .search-icon {
      color: var(--eds-color-text-subtle);
    }

    &[data-readonly] .search-icon {
      color: var(--eds-color-border-strong);
    }

    &[data-disabled] .search-icon {
      color: var(--eds-color-text-disabled);
    }

    & .add-option {
      position: sticky;
      z-index: 1;
      top: 0;

      display: flex;
      gap: var(--eds-generic-gap-horizontal);
      align-items: center;

      background-color: var(--eds-color-bg-floating);

      &[aria-disabled='true'] {
        color: var(--eds-color-text-disabled);
      }
    }

    &[data-invalid] .eds-menu-item {
      background-color: var(--eds-color-bg-canvas);

      &:hover {
        filter: brightness(0.97);
      }
    }

    & .sr-only {
      position: absolute;

      overflow: hidden;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;

      white-space: nowrap;

      clip: rect(0, 0, 0, 0);
    }
  }
}
