@custom-media --small (min-width: 600px);
@custom-media --large (min-width: 1200px);

:root {
  --borderColor: lightgrey;
  --backgroundColor: white;
  --Sidebar-backgroundColor: white;
  --Sidebar-activeLink-backgroundColor: gainsboro;
  --Sidebar-shadowColor: #666;
  --Banner-height: 64px;
  --Header-height: 160px;
  --Toc-width: 167px;
  --Sidebar-width: 240px;
  --black: #333;
  --grey-medium: #dcdcdc;
  --moss-green: #007079;
  --pale-green: #deedee;
  --tab-backgroundColor: #fff;
  --tab-isSelected-backgroundColor: var(--Sidebar-activeLink-backgroundColor);
  --tab-borderColor: var(--borderColor);
}

html {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Equinor, sans-serif;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga';
  color: var(--black);
  overflow-y: scroll;
}

a {
  color: var(--moss-green);
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*  font-weight: 500 !important; */
  text-rendering: optimizeLegibility;
}

th,
td {
  font-feature-settings: 'tnum';
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.focus-visible {
  outline: 1px dashed rgba(0, 112, 121, 1);
  outline-offset: 2px;
  z-index: 10;
}

.Page {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'main';
  grid-template-columns: 1fr;
  grid-template-rows: var(--Banner-height) var(--Header-height) 1fr;

  @media (--small) {
    grid-template-areas:
      'header header'
      'main main';
    grid-template-columns: 1fr var(--Toc-width);
    grid-template-rows: var(--Banner-height) var(--Header-height) 1fr;
  }

  @media (--large) {
    grid-template-areas:
      'header header header'
      'sidebar main main'
      'sidebar main main';
    grid-template-columns: var(--Sidebar-width) 1fr var(--Toc-width);
    grid-template-rows: var(--Banner-height) var(--Header-height) 1fr;
  }
}

.Burger {
  width: 12px;
  height: 12px;
  display: block;
  background: repeating-linear-gradient(
    var(--moss-green),
    var(--moss-green) 2px,
    transparent 2px,
    transparent 4px
  );
  position: relative;
  cursor: pointer;

  &::before {
    content: '\00a0';
    width: 48px;
    height: 48px;
    top: -14px;
    left: -12px;
    position: absolute;
    z-index: -1;
  }

  @media (--large) {
    display: none;
  }
}

.MenuToggler {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  opacity: 0;
}

.Header {
  height: 64px;
  position: fixed;
  left: 0;
  top: var(--Banner-height);
  width: 100vw;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;

  &-title {
    line-height: 1;
    margin: 0;
    font-size: 1.5rem;
  }

  &-link {
    text-decoration: none;
    color: inherit;
  }

  @media (--large) {
    left: var(--Sidebar-width);
  }
}

.Sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: var(--Banner-height);
  height: 100vh;
  width: 100vw;
  display: none;

  &-content {
    background-color: var(--Sidebar-backgroundColor);
    border-right: 1px solid var(--borderColor);
    box-shadow: 0 0 30px 0 var(--Sidebar-shadowColor);
    z-index: 1;

    position: fixed;
    top: var(--Banner-height);
    left: 0;

    width: var(--Sidebar-width);
    height: 100vh;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @media (--large) {
      box-shadow: none;
    }
  }

  &-veil {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: var(--Banner-height);
    width: 100vw;
    height: 100vh;

    @media (--large) {
      display: none;
    }
  }

  .MenuToggler:checked ~ & {
    display: block;
  }

  @media (--large) {
    display: block;
    position: relative;
    width: auto;
    grid-area: sidebar;

    .MenuToggler ~ & {
      display: grid;
    }
  }

  &-menu {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;

    &Item {
      &--borderTop {
        border-top: 1px solid var(--borderColor);
      }
    }

    & .Sidebar-menu {
      display: none;
    }
  }

  &-trigger {
    padding: 0.85rem 1rem 0.85rem 2rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--indented {
      padding-left: 3rem;
    }

    &--small {
      font-size: 0.8125em;
      padding-top: 0.65rem;
      padding-bottom: 0.65rem;
    }

    &.is-active {
      background-color: var(--Sidebar-activeLink-backgroundColor);
    }
  }

  &-menuArrow {
    width: 13px;
    height: 13px;

    path {
      stroke: black;
      stroke-width: 1px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

.Main {
  grid-area: main;
  background-color: whitesmoke;
  padding: 2rem 3rem;

  & * + * {
    margin-top: 1.5em;
  }
}

.SubMenuToggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  visibility: hidden;

  &:checked ~ {
    .Sidebar-menu {
      display: block;
    }
    .Sidebar-trigger {
      .Sidebar-menuArrow {
        transform: rotate(90deg);
      }
    }
  }
}

/* tabs */

.Tabs {
  list-style-type: none;
  padding-left: 0 !important;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  @media (--small) {
    flex-direction: row;
  }
}

.Tab {
  position: relative;

  @media (--large) {
    margin-bottom: 0;
  }
}

.Tab-link {
  padding: 1px 16px;
  display: block;
  text-decoration: none;
  color: inherit;
  /* background-color: var(--tab-backgroundColor); */
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 46px;
  position: relative;
  &::after {
    content: '';
    height: 2px;
    background-color: var(--grey-medium);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    background-color: var(--pale-green);
  }
}

.Tab-link.is-selected {
  color: var(--moss-green);
  &::after {
    background-color: var(--moss-green);
  }
}

/* debug */

.DebugDefList {
  display: none; /* change to grid to display debug info */
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: small;

  &::before {
    content: 'Debug:';
    position: absolute;
    top: -2.5em;
    left: 0;
    text-transform: uppercase;
  }

  width: 40em;
  grid-template-columns: 10em auto;
  & > * {
    margin-top: 0;
  }
  & dt {
    &:not(:first-of-type) {
      margin-top: 1em;
    }
    &::after {
      content: ':';
    }
  }
  & dd {
    &:not(:first-of-type) {
      margin-top: 1em;
    }
    margin-left: 0;
  }
}

.ModeBadge {
  color: silver;
  margin-left: 1rem;
}
