:root {
  --eds_text__static_icons__default: rgba(61, 61, 61, 1);
  --eds_text__static_icons__secondary: rgba(86, 86, 86, 1);
  --eds_text__static_icons__tertiary: rgba(111, 111, 111, 1);
  --eds_text__static_icons__primary_white: rgba(255, 255, 255, 1);
  --eds_ui_background__default: rgba(255, 255, 255, 1);
  --eds_ui_background__semitransparent: rgba(255, 255, 255, 0.2);
  --eds_ui_background__light: rgba(247, 247, 247, 1);
  --eds_ui_background__scrim: rgba(0, 0, 0, 0.4);
  --eds_ui_background__overlay: rgba(0, 0, 0, 0.8);
  --eds_ui_background__medium: rgba(220, 220, 220, 1);
  --eds_ui_background__info: rgba(213, 234, 244, 1);
  --eds_ui_background__warning: rgba(255, 231, 214, 1);
  --eds_ui_background__danger: rgba(255, 193, 193, 1);
  --eds_logo__fill_positive: rgba(235, 0, 55, 1);
  --eds_logo__fill_negative: rgba(255, 255, 255, 1);
  --eds_interactive_primary__selected_highlight: rgba(230, 250, 236, 1);
  --eds_interactive_primary__selected_hover: rgba(195, 243, 210, 1);
  --eds_interactive_primary__resting: rgba(0, 112, 121, 1);
  --eds_interactive_primary__hover: rgba(0, 79, 85, 1);
  --eds_interactive_primary__hover_alt: rgba(222, 237, 238, 1);
  --eds_interactive_secondary__highlight: rgba(213, 234, 244, 1);
  --eds_interactive_secondary__resting: rgba(36, 55, 70, 1);
  --eds_interactive_secondary__link_hover: rgba(23, 36, 47, 1);
  --eds_interactive_danger__highlight: rgba(255, 193, 193, 1);
  --eds_interactive_danger__resting: rgba(235, 0, 0, 1);
  --eds_interactive_danger__hover: rgba(179, 13, 47, 1);
  --eds_interactive_danger__text: rgba(179, 13, 47, 1);
  --eds_interactive_warning__highlight: rgba(255, 231, 214, 1);
  --eds_interactive_warning__resting: rgba(255, 146, 0, 1);
  --eds_interactive_warning__hover: rgba(173, 98, 0, 1);
  --eds_interactive_warning__text: rgba(173, 98, 0, 1);
  --eds_interactive_success__highlight: rgba(230, 250, 236, 1);
  --eds_interactive_success__resting: rgba(75, 183, 72, 1);
  --eds_interactive_success__hover: rgba(53, 129, 50, 1);
  --eds_interactive_success__text: rgba(53, 129, 50, 1);
  --eds_interactive_table__cell__fill_resting: rgba(255, 255, 255, 1);
  --eds_interactive_table__cell__fill_hover: rgba(234, 234, 234, 1);
  --eds_interactive_table__cell__fill_activated: rgba(230, 250, 236, 1);
  --eds_interactive_table__header__fill_activated: rgba(234, 234, 234, 1);
  --eds_interactive_table__header__fill_hover: rgba(220, 220, 220, 1);
  --eds_interactive_table__header__fill_resting: rgba(247, 247, 247, 1);
  --eds_interactive__disabled__text: rgba(190, 190, 190, 1);
  --eds_interactive__text_highlight: rgba(213, 234, 244, 1);
  --eds_interactive__focus: rgba(0, 112, 121, 1);
  --eds_interactive__disabled__border: rgba(220, 220, 220, 1);
  --eds_interactive__disabled__fill: rgba(234, 234, 234, 1);
  --eds_interactive__link_on_interactive_colors: rgba(255, 255, 255, 1);
  --eds_interactive__icon_on_interactive_colors: rgba(255, 255, 255, 1);
  --eds_interactive__link_in_snackbars: rgba(151, 202, 206, 1);
  --eds_interactive__pressed_overlay_dark: rgba(0, 0, 0, 0.2);
  --eds_interactive__pressed_overlay_light: rgba(255, 255, 255, 0.2);

  /*Typography colors*/
  --eds_heading__h1_bold_color: rgba(61, 61, 61, 1);
  --eds_heading__h1_color: rgba(61, 61, 61, 1);
  --eds_heading__h2_color: rgba(61, 61, 61, 1);
  --eds_heading__h3_color: rgba(61, 61, 61, 1);
  --eds_heading__h4_color: rgba(61, 61, 61, 1);
  --eds_heading__h5_color: rgba(61, 61, 61, 1);
  --eds_heading__h6_color: rgba(61, 61, 61, 1);
  --eds_navigation__menu_title_color: rgba(61, 61, 61, 1);
  --eds_navigation__menu_tabs_color: rgba(61, 61, 61, 1);
  --eds_navigation__label_color: rgba(0, 0, 0, 1);
  --eds_navigation__drawer_active_color: rgba(0, 0, 0, 1);
  --eds_navigation__drawer_inactive_color: rgba(0, 0, 0, 1);
  --eds_navigation__button_color: rgba(0, 0, 0, 1);
  --eds_navigation__breadcrumb_color: rgba(0, 0, 0, 1);
  --eds_navigation__breadcrumb_hover_color: rgba(0, 0, 0, 1);
  --eds_navigation__menu_title_hover_color: rgba(61, 61, 61, 1);
  --eds_input__label_color: rgba(0, 0, 0, 1);
  --eds_input__text_color: rgba(0, 0, 0, 1);
  --eds_input__text_monospaced_color: rgba(0, 0, 0, 1);
  --eds_input__helper_color: rgba(0, 0, 0, 1);
  --eds_paragraph__body_short_italic_color: rgba(61, 61, 61, 1);
  --eds_paragraph__caption_color: rgba(61, 61, 61, 1);
  --eds_paragraph__meta_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_short_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_short_bold_italic_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_short_bold_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_short_link_color: rgba(0, 112, 121, 1);
  --eds_paragraph__overline_color: rgba(61, 61, 61, 1);
  --eds_paragraph__ingress_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_long_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_long_link_color: rgba(0, 112, 121, 1);
  --eds_paragraph__body_long_italic_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_long_bold_color: rgba(61, 61, 61, 1);
  --eds_paragraph__body_long_bold_italic_color: rgba(61, 61, 61, 1);
  --eds_table__cell_header_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_bold_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_link_color: rgba(0, 0, 0, 1);
  --eds_table__cell_numeric_monospaced_color: rgba(0, 0, 0, 1);
  --eds_table__cell_header_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_bold_color: rgba(0, 0, 0, 1);
  --eds_table__cell_text_link_color: rgba(0, 0, 0, 1);
  --eds_table__cell_numeric_monospaced_color: rgba(0, 0, 0, 1);
  --eds_ui__tooltip_color: rgba(61, 61, 61, 1);
  --eds_ui__snackbar_color: rgba(61, 61, 61, 1);
  --eds_ui__accordion_header_color: rgba(61, 61, 61, 1);
  --eds_ui__chip__badge_color: rgba(61, 61, 61, 1);
  --eds_ui__chart_color: rgba(61, 61, 61, 1);
}