@import '@equinor/eds-tokens/css/variables';

.validation-message {
  --validation-message-color: var(--eds-color-text-danger-strong);
  display: inline-flex;
  align-items: flex-start;
  gap: var(--eds-spacing-inline-xs, 4px);
  color: var(--validation-message-color);
}

.validation-message__text {
  color: inherit;
}

.validation-message--warning {
  --validation-message-color: var(--eds-color-text-warning-strong);
}

.validation-message--success {
  --validation-message-color: var(--eds-color-text-success-strong);
}

.validation-message--info {
  --validation-message-color: var(--eds-color-text-info-strong);
}
