@import url(https://cdn.eds.equinor.com/font/eds-uprights-vf.css);
@import "./typography.css";
@import "tailwindcss";
@import "./spacing.css";

/* View transition for theme switch */
::view-transition-image-pair(root) {
  isolation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

body {
  font-family: Inter, sans-serif;
}

body h1.type,
body h2.type,
body h3.type,
body h4.type,
body h5.type,
body h6.type {
  font-family: Equinor, sans-serif;
}

button,
a {
  cursor: pointer;
}

#debug:target [data-debug] {
  --_padding-inline: 16px;
  --_padding-stack: 16px;
  background-image:
    repeating-linear-gradient(to left, transparent var(--_padding-inline), #f005 var(--_padding-inline), #f005 calc(var(--_padding-inline) + 1px), transparent calc(var(--_padding-inline) + 1px), transparent 100%),
    repeating-linear-gradient(to right, transparent var(--_padding-inline), #f005 var(--_padding-inline), #f005 calc(var(--_padding-inline) + 1px), transparent calc(var(--_padding-inline) + 1px), transparent 100%),
    repeating-linear-gradient(to top, transparent var(--_padding-stack), #f005 var(--_padding-stack), #f005 calc(var(--_padding-stack) + 1px), transparent calc(var(--_padding-stack) + 1px), transparent 100%),
    repeating-linear-gradient(to bottom, transparent var(--_padding-stack), #f005 var(--_padding-stack), #f005 calc(var(--_padding-stack) + 1px), transparent calc(var(--_padding-stack) + 1px), transparent 100%),
    repeating-linear-gradient(to bottom, #f002 0, #f002 4px, transparent 4px, transparent 8px);
}

.chip {
  display: grid;
  grid-auto-flow: column;
  gap: round(0.618em, 0.5px);
  place-items: center start;
  width: fit-content;
}
