@import url(https://cdn.eds.equinor.com/font/eds-uprights-vf.css);
@import "tailwindcss";

/* View transition for theme switch */
::view-transition-image-pair(root) {
  isolation: auto;
}
/* View transition for theme switch */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

body {
  font-family: Inter, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Equinor, sans-serif;
  }
}
