[data-color-scheme="dark"] {
  --eds-accent-1: var(--eds-dark-moss-green-1);
  --eds-accent-10: var(--eds-dark-moss-green-10);
  --eds-accent-11: var(--eds-dark-moss-green-11);
  --eds-accent-12: var(--eds-dark-moss-green-12);
  --eds-accent-13: var(--eds-dark-moss-green-13);
  --eds-accent-14: var(--eds-dark-moss-green-14);
  --eds-accent-15: var(--eds-dark-moss-green-15);
  --eds-accent-2: var(--eds-dark-moss-green-2);
  --eds-accent-3: var(--eds-dark-moss-green-3);
  --eds-accent-4: var(--eds-dark-moss-green-4);
  --eds-accent-5: var(--eds-dark-moss-green-5);
  --eds-accent-6: var(--eds-dark-moss-green-6);
  --eds-accent-7: var(--eds-dark-moss-green-7);
  --eds-accent-8: var(--eds-dark-moss-green-8);
  --eds-accent-9: var(--eds-dark-moss-green-9);
  --eds-bg-backdrop: var(--eds-dark-north-sea-7);
  --eds-bg-disabled: var(--eds-neutral-3);
  --eds-bg-floating: var(--eds-dark-north-sea-2);
  --eds-bg-input: var(--eds-dark-north-sea-1);
  --eds-border-disabled: var(--eds-neutral-7);
  --eds-border-focus: var(--eds-dark-blue-7);
  --eds-danger-1: var(--eds-dark-red-1);
  --eds-danger-10: var(--eds-dark-red-10);
  --eds-danger-11: var(--eds-dark-red-11);
  --eds-danger-12: var(--eds-dark-red-12);
  --eds-danger-13: var(--eds-dark-red-13);
  --eds-danger-14: var(--eds-dark-red-14);
  --eds-danger-15: var(--eds-dark-red-15);
  --eds-danger-2: var(--eds-dark-red-2);
  --eds-danger-3: var(--eds-dark-red-3);
  --eds-danger-4: var(--eds-dark-red-4);
  --eds-danger-5: var(--eds-dark-red-5);
  --eds-danger-6: var(--eds-dark-red-6);
  --eds-danger-7: var(--eds-dark-red-7);
  --eds-danger-8: var(--eds-dark-red-8);
  --eds-danger-9: var(--eds-dark-red-9);
  --eds-info-1: var(--eds-dark-blue-1);
  --eds-info-10: var(--eds-dark-blue-10);
  --eds-info-11: var(--eds-dark-blue-11);
  --eds-info-12: var(--eds-dark-blue-12);
  --eds-info-13: var(--eds-dark-blue-13);
  --eds-info-14: var(--eds-dark-blue-14);
  --eds-info-15: var(--eds-dark-blue-15);
  --eds-info-2: var(--eds-dark-blue-2);
  --eds-info-3: var(--eds-dark-blue-3);
  --eds-info-4: var(--eds-dark-blue-4);
  --eds-info-5: var(--eds-dark-blue-5);
  --eds-info-6: var(--eds-dark-blue-6);
  --eds-info-7: var(--eds-dark-blue-7);
  --eds-info-8: var(--eds-dark-blue-8);
  --eds-info-9: var(--eds-dark-blue-9);
  --eds-neutral-1: var(--eds-dark-north-sea-1);
  --eds-neutral-10: var(--eds-dark-north-sea-10);
  --eds-neutral-11: var(--eds-dark-north-sea-11);
  --eds-neutral-12: var(--eds-dark-north-sea-12);
  --eds-neutral-13: var(--eds-dark-north-sea-13);
  --eds-neutral-14: var(--eds-dark-north-sea-14);
  --eds-neutral-15: var(--eds-dark-north-sea-15);
  --eds-neutral-2: var(--eds-dark-north-sea-2);
  --eds-neutral-3: var(--eds-dark-north-sea-3);
  --eds-neutral-4: var(--eds-dark-north-sea-4);
  --eds-neutral-5: var(--eds-dark-north-sea-5);
  --eds-neutral-6: var(--eds-dark-north-sea-6);
  --eds-neutral-7: var(--eds-dark-north-sea-7);
  --eds-neutral-8: var(--eds-dark-north-sea-8);
  --eds-neutral-9: var(--eds-dark-north-sea-9);
  --eds-success-1: var(--eds-dark-green-1);
  --eds-success-10: var(--eds-dark-green-10);
  --eds-success-11: var(--eds-dark-green-11);
  --eds-success-12: var(--eds-dark-green-12);
  --eds-success-13: var(--eds-dark-green-13);
  --eds-success-14: var(--eds-dark-green-14);
  --eds-success-15: var(--eds-dark-green-15);
  --eds-success-2: var(--eds-dark-green-2);
  --eds-success-3: var(--eds-dark-green-3);
  --eds-success-4: var(--eds-dark-green-4);
  --eds-success-5: var(--eds-dark-green-5);
  --eds-success-6: var(--eds-dark-green-6);
  --eds-success-7: var(--eds-dark-green-7);
  --eds-success-8: var(--eds-dark-green-8);
  --eds-success-9: var(--eds-dark-green-9);
  --eds-text-disabled: var(--eds-neutral-7);
  --eds-text-link: var(--eds-dark-blue-8);
  --eds-warning-1: var(--eds-dark-orange-1);
  --eds-warning-10: var(--eds-dark-orange-10);
  --eds-warning-11: var(--eds-dark-orange-11);
  --eds-warning-12: var(--eds-dark-orange-12);
  --eds-warning-13: var(--eds-dark-orange-13);
  --eds-warning-14: var(--eds-dark-orange-14);
  --eds-warning-15: var(--eds-dark-orange-15);
  --eds-warning-2: var(--eds-dark-orange-2);
  --eds-warning-3: var(--eds-dark-orange-3);
  --eds-warning-4: var(--eds-dark-orange-4);
  --eds-warning-5: var(--eds-dark-orange-5);
  --eds-warning-6: var(--eds-dark-orange-6);
  --eds-warning-7: var(--eds-dark-orange-7);
  --eds-warning-8: var(--eds-dark-orange-8);
  --eds-warning-9: var(--eds-dark-orange-9);
}