[data-color-scheme="light"] {
  --eds-accent-1: var(--eds-light-moss-green-1);
  --eds-accent-10: var(--eds-light-moss-green-10);
  --eds-accent-11: var(--eds-light-moss-green-11);
  --eds-accent-12: var(--eds-light-moss-green-12);
  --eds-accent-13: var(--eds-light-moss-green-13);
  --eds-accent-14: var(--eds-light-moss-green-14);
  --eds-accent-15: var(--eds-light-moss-green-15);
  --eds-accent-2: var(--eds-light-moss-green-2);
  --eds-accent-3: var(--eds-light-moss-green-3);
  --eds-accent-4: var(--eds-light-moss-green-4);
  --eds-accent-5: var(--eds-light-moss-green-5);
  --eds-accent-6: var(--eds-light-moss-green-6);
  --eds-accent-7: var(--eds-light-moss-green-7);
  --eds-accent-8: var(--eds-light-moss-green-8);
  --eds-accent-9: var(--eds-light-moss-green-9);
  --eds-bg-backdrop: var(--eds-light-gray-7);
  --eds-bg-disabled: var(--eds-neutral-3);
  --eds-bg-floating: var(--eds-light-gray-2);
  --eds-bg-input: var(--eds-light-gray-1);
  --eds-border-disabled: var(--eds-neutral-7);
  --eds-border-focus: var(--eds-light-blue-7);
  --eds-danger-1: var(--eds-light-red-1);
  --eds-danger-10: var(--eds-light-red-10);
  --eds-danger-11: var(--eds-light-red-11);
  --eds-danger-12: var(--eds-light-red-12);
  --eds-danger-13: var(--eds-light-red-13);
  --eds-danger-14: var(--eds-light-red-14);
  --eds-danger-15: var(--eds-light-red-15);
  --eds-danger-2: var(--eds-light-red-2);
  --eds-danger-3: var(--eds-light-red-3);
  --eds-danger-4: var(--eds-light-red-4);
  --eds-danger-5: var(--eds-light-red-5);
  --eds-danger-6: var(--eds-light-red-6);
  --eds-danger-7: var(--eds-light-red-7);
  --eds-danger-8: var(--eds-light-red-8);
  --eds-danger-9: var(--eds-light-red-9);
  --eds-info-1: var(--eds-light-blue-1);
  --eds-info-10: var(--eds-light-blue-10);
  --eds-info-11: var(--eds-light-blue-11);
  --eds-info-12: var(--eds-light-blue-12);
  --eds-info-13: var(--eds-light-blue-13);
  --eds-info-14: var(--eds-light-blue-14);
  --eds-info-15: var(--eds-light-blue-15);
  --eds-info-2: var(--eds-light-blue-2);
  --eds-info-3: var(--eds-light-blue-3);
  --eds-info-4: var(--eds-light-blue-4);
  --eds-info-5: var(--eds-light-blue-5);
  --eds-info-6: var(--eds-light-blue-6);
  --eds-info-7: var(--eds-light-blue-7);
  --eds-info-8: var(--eds-light-blue-8);
  --eds-info-9: var(--eds-light-blue-9);
  --eds-neutral-1: var(--eds-light-gray-1);
  --eds-neutral-10: var(--eds-light-gray-10);
  --eds-neutral-11: var(--eds-light-gray-11);
  --eds-neutral-12: var(--eds-light-gray-12);
  --eds-neutral-13: var(--eds-light-gray-13);
  --eds-neutral-14: var(--eds-light-gray-14);
  --eds-neutral-15: var(--eds-light-gray-15);
  --eds-neutral-2: var(--eds-light-gray-2);
  --eds-neutral-3: var(--eds-light-gray-3);
  --eds-neutral-4: var(--eds-light-gray-4);
  --eds-neutral-5: var(--eds-light-gray-5);
  --eds-neutral-6: var(--eds-light-gray-6);
  --eds-neutral-7: var(--eds-light-gray-7);
  --eds-neutral-8: var(--eds-light-gray-8);
  --eds-neutral-9: var(--eds-light-gray-9);
  --eds-success-1: var(--eds-light-green-1);
  --eds-success-10: var(--eds-light-green-10);
  --eds-success-11: var(--eds-light-green-11);
  --eds-success-12: var(--eds-light-green-12);
  --eds-success-13: var(--eds-light-green-13);
  --eds-success-14: var(--eds-light-green-14);
  --eds-success-15: var(--eds-light-green-15);
  --eds-success-2: var(--eds-light-green-2);
  --eds-success-3: var(--eds-light-green-3);
  --eds-success-4: var(--eds-light-green-4);
  --eds-success-5: var(--eds-light-green-5);
  --eds-success-6: var(--eds-light-green-6);
  --eds-success-7: var(--eds-light-green-7);
  --eds-success-8: var(--eds-light-green-8);
  --eds-success-9: var(--eds-light-green-9);
  --eds-text-disabled: var(--eds-neutral-7);
  --eds-text-link: var(--eds-light-blue-8);
  --eds-warning-1: var(--eds-light-orange-1);
  --eds-warning-10: var(--eds-light-orange-10);
  --eds-warning-11: var(--eds-light-orange-11);
  --eds-warning-12: var(--eds-light-orange-12);
  --eds-warning-13: var(--eds-light-orange-13);
  --eds-warning-14: var(--eds-light-orange-14);
  --eds-warning-15: var(--eds-light-orange-15);
  --eds-warning-2: var(--eds-light-orange-2);
  --eds-warning-3: var(--eds-light-orange-3);
  --eds-warning-4: var(--eds-light-orange-4);
  --eds-warning-5: var(--eds-light-orange-5);
  --eds-warning-6: var(--eds-light-orange-6);
  --eds-warning-7: var(--eds-light-orange-7);
  --eds-warning-8: var(--eds-light-orange-8);
  --eds-warning-9: var(--eds-light-orange-9);
}