/* Global styles for @equinor/eds-core-react */
@import '@equinor/eds-tokens/css/variables';

/* Component styles */
@import './components/next/Field/field.css';
@import './components/next/HelperMessage/helper-message.css';
