:root {
  --eds-dark-blue-1: oklch(0.19 0.0053 240.68);
  --eds-dark-blue-10: oklch(0.88 0.0905 240.68);
  --eds-dark-blue-11: oklch(0.93 0.0701 240.68);
  --eds-dark-blue-12: oklch(0.91 0.0782 240.68);
  --eds-dark-blue-13: oklch(0.99 0.0474 240.68);
  --eds-dark-blue-14: oklch(0.33 0.0245 240.68);
  --eds-dark-blue-15: oklch(0.1 0.0015 240.68);
  --eds-dark-blue-2: oklch(0.226 0.0082 240.68);
  --eds-dark-blue-3: oklch(0.47 0.0701 240.68);
  --eds-dark-blue-4: oklch(0.52 0.0905 240.68);
  --eds-dark-blue-5: oklch(0.58 0.1134 240.68);
  --eds-dark-blue-6: oklch(0.47 0.0701 240.68);
  --eds-dark-blue-7: oklch(0.61 0.1227 240.68);
  --eds-dark-blue-8: oklch(0.76 0.1298 240.68);
  --eds-dark-blue-9: oklch(0.82 0.1134 240.68);
  --eds-dark-gray-1: oklch(0.19 0 0);
  --eds-dark-gray-10: oklch(0.88 0 0);
  --eds-dark-gray-11: oklch(0.93 0 0);
  --eds-dark-gray-12: oklch(0.91 0 0);
  --eds-dark-gray-13: oklch(0.99 0 0);
  --eds-dark-gray-14: oklch(0.33 0 0);
  --eds-dark-gray-15: oklch(0.1 0 0);
  --eds-dark-gray-2: oklch(0.226 0 0);
  --eds-dark-gray-3: oklch(0.47 0 0);
  --eds-dark-gray-4: oklch(0.52 0 0);
  --eds-dark-gray-5: oklch(0.58 0 0);
  --eds-dark-gray-6: oklch(0.47 0 0);
  --eds-dark-gray-7: oklch(0.61 0 0);
  --eds-dark-gray-8: oklch(0.76 0 0);
  --eds-dark-gray-9: oklch(0.82 0 0);
  --eds-dark-green-1: oklch(0.19 0.0064 142.98);
  --eds-dark-green-10: oklch(0.88 0.1107 142.98);
  --eds-dark-green-11: oklch(0.93 0.0856 142.98);
  --eds-dark-green-12: oklch(0.91 0.0956 142.98);
  --eds-dark-green-13: oklch(0.99 0.058 142.98);
  --eds-dark-green-14: oklch(0.33 0.03 142.98);
  --eds-dark-green-15: oklch(0.1 0.0018 142.98);
  --eds-dark-green-2: oklch(0.226 0.01 142.98);
  --eds-dark-green-3: oklch(0.47 0.0856 142.98);
  --eds-dark-green-4: oklch(0.52 0.1107 142.98);
  --eds-dark-green-5: oklch(0.58 0.1386 142.98);
  --eds-dark-green-6: oklch(0.47 0.0856 142.98);
  --eds-dark-green-7: oklch(0.61 0.1499 142.98);
  --eds-dark-green-8: oklch(0.76 0.1586 142.98);
  --eds-dark-green-9: oklch(0.82 0.1386 142.98);
  --eds-dark-moss-green-1: oklch(0.19 0.0033 204.55);
  --eds-dark-moss-green-10: oklch(0.88 0.0566 204.55);
  --eds-dark-moss-green-11: oklch(0.93 0.0438 204.55);
  --eds-dark-moss-green-12: oklch(0.91 0.0489 204.55);
  --eds-dark-moss-green-13: oklch(0.99 0.0297 204.55);
  --eds-dark-moss-green-14: oklch(0.33 0.0153 204.55);
  --eds-dark-moss-green-15: oklch(0.1 0.0009 204.55);
  --eds-dark-moss-green-2: oklch(0.226 0.0051 204.55);
  --eds-dark-moss-green-3: oklch(0.47 0.0438 204.55);
  --eds-dark-moss-green-4: oklch(0.52 0.0566 204.55);
  --eds-dark-moss-green-5: oklch(0.58 0.0709 204.55);
  --eds-dark-moss-green-6: oklch(0.47 0.0438 204.55);
  --eds-dark-moss-green-7: oklch(0.61 0.0767 204.55);
  --eds-dark-moss-green-8: oklch(0.76 0.0811 204.55);
  --eds-dark-moss-green-9: oklch(0.82 0.0709 204.55);
  --eds-dark-north-sea-1: oklch(0.19 0.0014 242.96);
  --eds-dark-north-sea-10: oklch(0.88 0.0242 242.96);
  --eds-dark-north-sea-11: oklch(0.93 0.0187 242.96);
  --eds-dark-north-sea-12: oklch(0.91 0.0209 242.96);
  --eds-dark-north-sea-13: oklch(0.99 0.0127 242.96);
  --eds-dark-north-sea-14: oklch(0.33 0.0066 242.96);
  --eds-dark-north-sea-15: oklch(0.1 0.0004 242.96);
  --eds-dark-north-sea-2: oklch(0.226 0.0022 242.96);
  --eds-dark-north-sea-3: oklch(0.47 0.0187 242.96);
  --eds-dark-north-sea-4: oklch(0.52 0.0242 242.96);
  --eds-dark-north-sea-5: oklch(0.58 0.0303 242.96);
  --eds-dark-north-sea-6: oklch(0.47 0.0187 242.96);
  --eds-dark-north-sea-7: oklch(0.61 0.0328 242.96);
  --eds-dark-north-sea-8: oklch(0.76 0.0347 242.96);
  --eds-dark-north-sea-9: oklch(0.82 0.0303 242.96);
  --eds-dark-orange-1: oklch(0.19 0.0064 58.74);
  --eds-dark-orange-10: oklch(0.88 0.1098 58.74);
  --eds-dark-orange-11: oklch(0.93 0.085 58.74);
  --eds-dark-orange-12: oklch(0.91 0.0949 58.74);
  --eds-dark-orange-13: oklch(0.99 0.0576 58.74);
  --eds-dark-orange-14: oklch(0.33 0.0297 58.74);
  --eds-dark-orange-15: oklch(0.1 0.0018 58.74);
  --eds-dark-orange-2: oklch(0.226 0.0099 58.74);
  --eds-dark-orange-3: oklch(0.47 0.085 58.74);
  --eds-dark-orange-4: oklch(0.52 0.1098 58.74);
  --eds-dark-orange-5: oklch(0.58 0.1376 58.74);
  --eds-dark-orange-6: oklch(0.47 0.085 58.74);
  --eds-dark-orange-7: oklch(0.61 0.1488 58.74);
  --eds-dark-orange-8: oklch(0.76 0.1574 58.74);
  --eds-dark-orange-9: oklch(0.82 0.1376 58.74);
  --eds-dark-red-1: oklch(0.19 0.009 21.12);
  --eds-dark-red-10: oklch(0.88 0.1543 21.12);
  --eds-dark-red-11: oklch(0.93 0.1194 21.12);
  --eds-dark-red-12: oklch(0.91 0.1333 21.12);
  --eds-dark-red-13: oklch(0.99 0.0809 21.12);
  --eds-dark-red-14: oklch(0.33 0.0418 21.12);
  --eds-dark-red-15: oklch(0.1 0.0026 21.12);
  --eds-dark-red-2: oklch(0.226 0.014 21.12);
  --eds-dark-red-3: oklch(0.47 0.1194 21.12);
  --eds-dark-red-4: oklch(0.52 0.1543 21.12);
  --eds-dark-red-5: oklch(0.58 0.1933 21.12);
  --eds-dark-red-6: oklch(0.47 0.1194 21.12);
  --eds-dark-red-7: oklch(0.61 0.2091 21.12);
  --eds-dark-red-8: oklch(0.76 0.2212 21.12);
  --eds-dark-red-9: oklch(0.82 0.1933 21.12);
  --eds-light-blue-1: oklch(0.98 0.0223 240.68);
  --eds-light-blue-10: oklch(0.47 0.1099 240.68);
  --eds-light-blue-11: oklch(0.42 0.0905 240.68);
  --eds-light-blue-12: oklch(0.37 0.0701 240.68);
  --eds-light-blue-13: oklch(0.32 0.0509 240.68);
  --eds-light-blue-14: oklch(0.9 0.0441 240.68);
  --eds-light-blue-15: oklch(1 0.0184 240.68);
  --eds-light-blue-2: oklch(0.94 0.032 240.68);
  --eds-light-blue-3: oklch(0.91 0.0408 240.68);
  --eds-light-blue-4: oklch(0.87 0.0546 240.68);
  --eds-light-blue-5: oklch(0.82 0.0741 240.68);
  --eds-light-blue-6: oklch(0.77 0.0946 240.68);
  --eds-light-blue-7: oklch(0.72 0.1134 240.68);
  --eds-light-blue-8: oklch(0.62 0.1351 240.68);
  --eds-light-blue-9: oklch(0.52 0.1253 240.68);
  --eds-light-gray-1: oklch(0.98 0 0);
  --eds-light-gray-10: oklch(0.47 0 0);
  --eds-light-gray-11: oklch(0.42 0 0);
  --eds-light-gray-12: oklch(0.37 0 0);
  --eds-light-gray-13: oklch(0.32 0 0);
  --eds-light-gray-14: oklch(0.9 0 0);
  --eds-light-gray-15: oklch(1 0 0);
  --eds-light-gray-2: oklch(0.94 0 0);
  --eds-light-gray-3: oklch(0.91 0 0);
  --eds-light-gray-4: oklch(0.87 0 0);
  --eds-light-gray-5: oklch(0.82 0 0);
  --eds-light-gray-6: oklch(0.77 0 0);
  --eds-light-gray-7: oklch(0.72 0 0);
  --eds-light-gray-8: oklch(0.62 0 0);
  --eds-light-gray-9: oklch(0.52 0 0);
  --eds-light-green-1: oklch(0.98 0.0273 142.98);
  --eds-light-green-10: oklch(0.47 0.1343 142.98);
  --eds-light-green-11: oklch(0.42 0.1107 142.98);
  --eds-light-green-12: oklch(0.37 0.0856 142.98);
  --eds-light-green-13: oklch(0.32 0.0623 142.98);
  --eds-light-green-14: oklch(0.9 0.0539 142.98);
  --eds-light-green-15: oklch(1 0.0225 142.98);
  --eds-light-green-2: oklch(0.94 0.0391 142.98);
  --eds-light-green-3: oklch(0.91 0.0499 142.98);
  --eds-light-green-4: oklch(0.87 0.0667 142.98);
  --eds-light-green-5: oklch(0.82 0.0906 142.98);
  --eds-light-green-6: oklch(0.77 0.1156 142.98);
  --eds-light-green-7: oklch(0.72 0.1386 142.98);
  --eds-light-green-8: oklch(0.62 0.1651 142.98);
  --eds-light-green-9: oklch(0.52 0.1531 142.98);
  --eds-light-moss-green-1: oklch(0.98 0.014 204.55);
  --eds-light-moss-green-10: oklch(0.47 0.0687 204.55);
  --eds-light-moss-green-11: oklch(0.42 0.0566 204.55);
  --eds-light-moss-green-12: oklch(0.37 0.0438 204.55);
  --eds-light-moss-green-13: oklch(0.32 0.0318 204.55);
  --eds-light-moss-green-14: oklch(0.9 0.0275 204.55);
  --eds-light-moss-green-15: oklch(1 0.0115 204.55);
  --eds-light-moss-green-2: oklch(0.94 0.02 204.55);
  --eds-light-moss-green-3: oklch(0.91 0.0255 204.55);
  --eds-light-moss-green-4: oklch(0.87 0.0341 204.55);
  --eds-light-moss-green-5: oklch(0.82 0.0463 204.55);
  --eds-light-moss-green-6: oklch(0.77 0.0591 204.55);
  --eds-light-moss-green-7: oklch(0.72 0.0709 204.55);
  --eds-light-moss-green-8: oklch(0.62 0.0844 204.55);
  --eds-light-moss-green-9: oklch(0.52 0.0783 204.55);
  --eds-light-north-sea-1: oklch(0.98 0.006 242.96);
  --eds-light-north-sea-10: oklch(0.47 0.0294 242.96);
  --eds-light-north-sea-11: oklch(0.42 0.0242 242.96);
  --eds-light-north-sea-12: oklch(0.37 0.0187 242.96);
  --eds-light-north-sea-13: oklch(0.32 0.0136 242.96);
  --eds-light-north-sea-14: oklch(0.9 0.0118 242.96);
  --eds-light-north-sea-15: oklch(1 0.0049 242.96);
  --eds-light-north-sea-2: oklch(0.94 0.0086 242.96);
  --eds-light-north-sea-3: oklch(0.91 0.0109 242.96);
  --eds-light-north-sea-4: oklch(0.87 0.0146 242.96);
  --eds-light-north-sea-5: oklch(0.82 0.0198 242.96);
  --eds-light-north-sea-6: oklch(0.77 0.0253 242.96);
  --eds-light-north-sea-7: oklch(0.72 0.0303 242.96);
  --eds-light-north-sea-8: oklch(0.62 0.0361 242.96);
  --eds-light-north-sea-9: oklch(0.52 0.0335 242.96);
  --eds-light-orange-1: oklch(0.98 0.0271 58.74);
  --eds-light-orange-10: oklch(0.47 0.1333 58.74);
  --eds-light-orange-11: oklch(0.42 0.1098 58.74);
  --eds-light-orange-12: oklch(0.37 0.085 58.74);
  --eds-light-orange-13: oklch(0.32 0.0618 58.74);
  --eds-light-orange-14: oklch(0.9 0.0535 58.74);
  --eds-light-orange-15: oklch(1 0.0223 58.74);
  --eds-light-orange-2: oklch(0.94 0.0388 58.74);
  --eds-light-orange-3: oklch(0.91 0.0495 58.74);
  --eds-light-orange-4: oklch(0.87 0.0662 58.74);
  --eds-light-orange-5: oklch(0.82 0.0899 58.74);
  --eds-light-orange-6: oklch(0.77 0.1148 58.74);
  --eds-light-orange-7: oklch(0.72 0.1376 58.74);
  --eds-light-orange-8: oklch(0.62 0.1639 58.74);
  --eds-light-orange-9: oklch(0.52 0.152 58.74);
  --eds-light-red-1: oklch(0.98 0.0381 21.12);
  --eds-light-red-10: oklch(0.47 0.1873 21.12);
  --eds-light-red-11: oklch(0.42 0.1543 21.12);
  --eds-light-red-12: oklch(0.37 0.1194 21.12);
  --eds-light-red-13: oklch(0.32 0.0868 21.12);
  --eds-light-red-14: oklch(0.9 0.0751 21.12);
  --eds-light-red-15: oklch(1 0.0313 21.12);
  --eds-light-red-2: oklch(0.94 0.0546 21.12);
  --eds-light-red-3: oklch(0.91 0.0696 21.12);
  --eds-light-red-4: oklch(0.87 0.093 21.12);
  --eds-light-red-5: oklch(0.82 0.1264 21.12);
  --eds-light-red-6: oklch(0.77 0.1612 21.12);
  --eds-light-red-7: oklch(0.72 0.1933 21.12);
  --eds-light-red-8: oklch(0.62 0.2302 21.12);
  --eds-light-red-9: oklch(0.52 0.2136 21.12);
}