:root{
  --text--primary: rgba(61, 61, 61, 1);
  --text--secondary: rgba(86, 86, 86, 1);
  --ui-background--default: rgba(255, 255, 255, 1);
  --ui-background--light: rgba(247, 247, 247, 1);
  --ui-background--scrim: rgba(0, 0, 0, 1);
  --ui-background--medium: rgba(220, 220, 220, 1);
  --ui-background--info: rgba(213, 234, 244, 1);
  --ui-background--warning: rgba(255, 231, 214, 1);
  --ui-background--danger: rgba(255, 193, 193, 1);
  --infographic-substitute--purple-berry: rgba(140, 17, 89, 1);
  --infographic-substitute--pink-rose: rgba(226, 73, 115, 1);
  --infographic-substitute--pink-salmon: rgba(255, 146, 168, 1);
  --infographic-substitute--green-cucumber: rgba(0, 95, 87, 1);
  --infographic-substitute--green-succulent: rgba(0, 151, 123, 1);
  --infographic-substitute--green-mint: rgba(64, 211, 143, 1);
  --infographic-substitute--blue-ocean: rgba(0, 64, 136, 1);
  --infographic-substitute--blue-overcast: rgba(0, 132, 196, 1);
  --infographic-substitute--blue-sky: rgba(82, 192, 255, 1);
  --infographic-primary--moss-green-100: rgba(0, 112, 121, 1);
  --infographic-primary--moss-green-55: rgba(115, 177, 181, 1);
  --infographic-primary--moss-green-34: rgba(168, 206, 209, 1);
  --infographic-primary--moss-green-21: rgba(201, 224, 226, 1);
  --infographic-primary--moss-green-13: rgba(222, 237, 238, 1);
  --infographic-primary--energy-red-100: rgba(235, 0, 55, 1);
  --infographic-primary--energy-red-55: rgba(255, 125, 152, 1);
  --infographic-primary--energy-red-34: rgba(255, 174, 191, 1);
  --infographic-primary--energy-red-21: rgba(255, 205, 215, 1);
  --infographic-primary--energy-red-13: rgba(255, 224, 231, 1);
  --infographic-primary--weathered-red: rgba(125, 0, 35, 1);
  --infographic-primary--slate-blue: rgba(36, 55, 70, 1);
  --infographic-primary--spruce-wood: rgba(255, 231, 214, 1);
  --infographic-primary--mist-blue: rgba(213, 234, 244, 1);
  --infographic-primary--lichen-green: rgba(230, 250, 236, 1);
  --logo--fill-positive: rgba(235, 0, 55, 1);
  --logo--fill-negative: rgba(255, 255, 255, 1);
  --interactive-primary--activated-highlight: rgba(230, 250, 236, 1);
  --interactive-primary--resting: rgba(0, 112, 121, 1);
  --interactive-primary--hover: rgba(0, 79, 85, 1);
  --interactive-secondary--activated-highlight: rgba(255, 224, 231, 1);
  --interactive-secondary--resting: rgba(235, 0, 55, 1);
  --interactive-secondary--hover: rgba(179, 13, 47, 1);
  --interactive--danger--activated-highlight: rgba(255, 193, 193, 1);
  --interactive--danger--resting: rgba(235, 0, 0, 1);
  --interactive--danger--hover: rgba(179, 13, 47, 1);
  --interactive-warning--activated-highlight: rgba(255, 231, 214, 1);
  --interactive-warning--resting: rgba(255, 146, 0, 1);
  --interactive-warning--hover: rgba(173, 98, 0, 1);
  --interactive-warning--link: rgba(173, 98, 0, 1);
  --interactive-success--activated-highlight: rgba(230, 250, 236, 1);
  --interactive-success--resting: rgba(75, 183, 72, 1);
  --interactive-success--hover: rgba(53, 129, 50, 1);
  --interactive-success--link: rgba(53, 129, 50, 1);
  --interactive-table--cell--fill-resting: rgba(255, 255, 255, 1);
  --interactive-table--cell--fill-hover: rgba(230, 250, 236, 1);
  --interactive-table--cell--fill-activated: rgba(220, 220, 220, 1);
  --interactive-table--header--fill-activated: rgba(234, 234, 234, 1);
  --interactive-table--header--fill-hover: rgba(220, 220, 220, 1);
  --interactive-table--header--fill-resting: rgba(247, 247, 247, 1);
  --interactive--disabled--link: rgba(111, 111, 111, 1);
  --interactive--text-highlight: rgba(213, 234, 244, 1);
  --interactive--focus-border: rgba(235, 0, 55, 1);
  --interactive--disabled--border: rgba(220, 220, 220, 1);
  --interactive--disabled--fill: rgba(247, 247, 247, 1);
  --interactive--link-on-interactive-colors: rgba(255, 255, 255, 1);
  --interactive--icon-on-interactive-colors: rgba(255, 255, 255, 1);
  --interactive--pressed-overlay-dark: rgba(111, 111, 111, 1);
  --interactive-field--fill-resting: rgba(247, 247, 247, 1);
  --interactive-field--fill-hover: rgba(243, 243, 243, 1);
  --interactive-field--fill-activated: rgba(220, 220, 220, 1);
}
