:root{
  --spacer-horizontal--xxx-large: 48px;
  --spacer-horizontal--xx-large: 40px;
  --spacer-horizontal--x-large: 32px;
  --spacer-horizontal--large: 24px;
  --spacer-horizontal--medium: 16px;
  --spacer-horizontal--small: 8px;
  --spacer-horizontal--x-small: 4px;
  --spacer-horizontal--xx-small: 2px;
  --spacer-vertical--xxx-large: 48px;
  --spacer-vertical--xx-large: 40px;
  --spacer-vertical--x-large: 32px;
  --spacer-vertical--large: 24px;
  --spacer-vertical--medium: 16px;
  --spacer-vertical--small: 8px;
  --spacer-vertical--x-small: 4px;
  --spacer-vertical--xx-small: 2px;
}
