:root{
  --heading--h1: [object Object];
  --heading--h2: [object Object];
  --heading--h3: [object Object];
  --heading--h4: [object Object];
  --heading--h5: [object Object];
  --heading--h6: [object Object];
  --navigation--menu-title: [object Object];
  --navigation--menu-tabs: [object Object];
  --navigation--menu-label: [object Object];
  --navigation--drawer-first-level: [object Object];
  --navigation--drawer-second-level: [object Object];
  --navigation--drawer-child-level: [object Object];
  --navigation--button: [object Object];
  --input--label: [object Object];
  --input--text: [object Object];
  --input--text-monospaced: [object Object];
  --input--helper: [object Object];
  --paragraph--body-short: [object Object];
  --paragraph--caption: [object Object];
  --paragraph--overline: [object Object];
  --paragraph--ingress: [object Object];
  --paragraph--body-long: [object Object];
  --table--cell-header: [object Object];
  --table--cell-text: [object Object];
  --table--cell-numeric-monospaced: [object Object];
  --ui--tooltip: [object Object];
  --ui--snackbar: [object Object];
}
