:root {
font-size: 16px;
}
.heading--h1 {
  font-family: Equinor;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0rem;
  
}
.heading--h2 {
  font-family: Equinor;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0rem;
  
}
.heading--h3 {
  font-family: Equinor;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0rem;
  
}
.heading--h4 {
  font-family: Equinor;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem;
  
}
.heading--h5 {
  font-family: Equinor;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  
}
.heading--h6 {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  
}
.navigation--menu-title {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.013rem;
  
}
.navigation--menu-tabs {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.013rem;
  
}
.navigation--menu-label {
  font-family: Equinor;
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
.navigation--drawer-first-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.006rem;
  
}
.navigation--drawer-second-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.013rem;
  
}
.navigation--drawer-child-level {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.019rem;
  
}
.navigation--button {
  font-family: Equinor;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
.input--label {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
.input--text {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  
}
.input--text-monospaced {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.063rem;
  
}
.input--helper {
  font-family: Equinor;
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.013rem;
  
}
.paragraph--body-short {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0rem;
  
}
.paragraph--caption {
  font-family: Equinor;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
.paragraph--overline {
  font-family: Equinor;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.069rem;
  text-transform: uppercase;
}
.paragraph--ingress {
  font-family: Equinor;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  
}
.paragraph--body-long {
  font-family: Equinor;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  
}
.table--cell-header {
  font-family: Equinor;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  
}
.table--cell-text {
  font-family: Equinor;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  
}
.table--cell-numeric-monospaced {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  
}
.ui--tooltip {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
.ui--snackbar {
  font-family: Equinor;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0rem;
  
}
