@layer eds-components {
  .eds-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: var(--eds-spacing-horizontal-xs);
    border-radius: var(--eds-spacing-border-radius-rounded);
    cursor: pointer;
    border: none;
    padding: var(--eds-selectable-space-vertical)
      var(--eds-selectable-space-horizontal);
    transition:
      background-color 150ms ease-in-out,
      border-color 150ms ease-in-out,
      color 150ms ease-in-out;
  }

  .eds-button:focus-visible {
    outline: 1px solid var(--eds-color-border-focus);
    outline-offset: 1px;
  }

  /* ===== PRIMARY VARIANT ===== */

  .eds-button[data-variant='primary'] {
    background-color: var(--eds-color-bg-fill-emphasis-default);
    color: var(--eds-color-text-strong-on-emphasis);
  }

  .eds-button[data-variant='primary']:hover:not(:disabled) {
    background-color: var(--eds-color-bg-fill-emphasis-hover);
  }

  .eds-button[data-variant='primary']:active:not(:disabled) {
    background-color: var(--eds-color-bg-fill-emphasis-active);
  }

  .eds-button[data-variant='primary']:disabled {
    background-color: var(--eds-color-bg-fill-muted-default);
    color: var(--eds-color-border-medium);
    cursor: not-allowed;
  }

  /* ===== OUTLINE VARIANT ===== */

  .eds-button[data-variant='outline'] {
    background-color: transparent;
    color: var(--eds-color-text-subtle);
    border: 1px solid var(--eds-color-border-strong);
  }

  .eds-button[data-variant='outline']:hover:not(:disabled) {
    background-color: var(--eds-color-bg-fill-muted-default);
  }

  .eds-button[data-variant='outline']:active:not(:disabled) {
    background-color: var(--eds-color-bg-fill-muted-hover);
  }

  .eds-button[data-variant='outline']:disabled {
    border-color: var(--eds-color-border-medium);
    color: var(--eds-color-border-medium);
    cursor: not-allowed;
  }

  /* ===== GHOST VARIANT ===== */

  .eds-button[data-variant='ghost'] {
    background-color: transparent;
    color: var(--eds-color-text-subtle);
  }

  .eds-button[data-variant='ghost']:hover:not(:disabled) {
    background-color: var(--eds-color-bg-fill-muted-default);
  }

  .eds-button[data-variant='ghost']:active:not(:disabled) {
    background-color: var(--eds-color-bg-fill-muted-hover);
  }

  .eds-button[data-variant='ghost']:disabled {
    color: var(--eds-color-border-medium);
    cursor: not-allowed;
  }

  /* ===== ICON WRAPPER ===== */

  .eds-button__icon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
  }
}
