@import 'color/color-scheme/color-scheme.css';
@import 'color/static/variables.css';
@import 'color/dynamic/variables.css';

@import 'registered-properties.css';
@import 'spacing/spacious-trimmed.css';
@import 'spacing/comfortable-trimmed.css';

@import 'spacing/space-proportions-squished.css';
@import 'spacing/space-proportions-squared.css';
@import 'spacing/space-proportions-stretched.css';

@import 'spacing/selectable-space-xs.css';
@import 'spacing/selectable-space-sm.css';
@import 'spacing/selectable-space-md.css';
@import 'spacing/selectable-space-lg.css';
@import 'spacing/selectable-space-xl.css';

@import './spacing.css';
@import './typography.css';
