:root {
  /************ CONCEPT ************/
  --eds-color-background-canvas: #f2f2f2;
  --eds-color-background-surface: #ffffff;
  --eds-color-background-elevated: #ffffff;
  --eds-color-background-backdrop: #a8a8a8;

  --eds-color-border-focus: #63b0e6;

  /************ NEUTRAL ************/
  --eds-color-background-neutral-default: #ffffff;
  --eds-color-background-neutral-subtle: #f2f2f2;

  --eds-color-background-neutral-medium-default: #d7d7d7;
  --eds-color-background-neutral-medium-hover: #cacaca;
  --eds-color-background-neutral-medium-active: #bebebe;

  --eds-color-background-neutral-strong-default: #636363;
  --eds-color-background-neutral-strong-hover: #525252;
  --eds-color-background-neutral-strong-active: #4d4d4d;

  --eds-color-border-neutral-subtle: #c4c4c4;
  --eds-color-border-neutral-medium: #a8a8a8;
  --eds-color-border-neutral-strong: #868686;

  --eds-color-text-neutral-default: #484848;
  --eds-color-text-neutral-strong: #333333;
  --eds-color-text-neutral-contrast-subtle: #dbdbdb;
  --eds-color-text-neutral-contrast-strong: #fcfcfc;

  /************ ACCENT ************/
  --eds-color-background-accent-default: #ffffff;
  --eds-color-background-accent-subtle: #e6f5f7;

  --eds-color-background-accent-medium-default: #c0dee1;
  --eds-color-background-accent-medium-hover: #acd3d7;
  --eds-color-background-accent-medium-active: #97c8cd;

  --eds-color-background-accent-strong-default: #206f77;
  --eds-color-background-accent-strong-hover: #205c62;
  --eds-color-background-accent-strong-active: #20565c;

  --eds-color-border-accent-subtle: #a2cdd2;
  --eds-color-border-accent-medium: #72b5bc;
  --eds-color-border-accent-strong: #3c959e;

  --eds-color-text-accent-default: #215055;
  --eds-color-text-accent-strong: #1e383a;
  --eds-color-text-accent-contrast-subtle: #c5e1e4;
  --eds-color-text-accent-contrast-strong: #f3feff;

  /************ SUCCESS ************/
  --eds-color-background-success-default: #ffffff;
  --eds-color-background-success-subtle: #e6f8e4;

  --eds-color-background-success-medium-default: #c0e3bd;
  --eds-color-background-success-medium-hover: #acd9a9;
  --eds-color-background-success-medium-active: #97cf93;

  --eds-color-background-success-strong-default: #207720;
  --eds-color-background-success-strong-hover: #20621f;
  --eds-color-background-success-strong-active: #215c1f;

  --eds-color-border-success-subtle: #a2d49e;
  --eds-color-border-success-medium: #72bd6e;
  --eds-color-border-success-strong: #3c9e3b;

  --eds-color-text-success-default: #21551f;
  --eds-color-text-success-strong: #1e3b1d;
  --eds-color-text-success-contrast-subtle: #c5e5c2;
  --eds-color-text-success-contrast-strong: #f3fff1;

  /************ INFO ************/
  --eds-color-background-info-default: #ffffff;
  --eds-color-background-info-subtle: #e3f5ff;

  --eds-color-background-info-medium-default: #baddf6;
  --eds-color-background-info-medium-hover: #a4d1f2;
  --eds-color-background-info-medium-active: #8dc5ee;

  --eds-color-background-info-strong-default: #006aa0;
  --eds-color-background-info-strong-hover: #085883;
  --eds-color-background-info-strong-active: #0e5279;

  --eds-color-border-info-subtle: #99cbf0;
  --eds-color-border-info-medium: #63b0e6;
  --eds-color-border-info-strong: #1d8fcf;

  --eds-color-text-info-default: #124c70;
  --eds-color-text-info-strong: #18364a;
  --eds-color-text-info-contrast-subtle: #c0e0f8;
  --eds-color-text-info-contrast-strong: #f0feff;

  /************ WARNING ************/
  --eds-color-background-warning-default: #ffffff;
  --eds-color-background-warningwarning-subtle: #ffeddd;

  --eds-color-background-warning-medium-default: #f7ceb0;
  --eds-color-background-warning-medium-hover: #f3be97;
  --eds-color-background-warning-medium-active: #eeae7c;

  --eds-color-background-warning-strong-default: #9b4900;
  --eds-color-background-warning-strong-hover: #813e00;
  --eds-color-background-warning-strong-active: #773a00;

  --eds-color-border-warning-subtle: #f0b689;
  --eds-color-border-warning-medium: #e5914a;
  --eds-color-border-warning-strong: #cc6700;

  --eds-color-text-warning-default: #6e3700;
  --eds-color-text-warning-strong: #4a2a0e;
  --eds-color-text-warning-contrast-subtle: #f9d2b6;
  --eds-color-text-warning-contrast-strong: #fff8ec;

  /************ DANGER ************/
  --eds-color-background-danger-default: #ffffff;
  --eds-color-background-danger-subtle: #ffe7e6;

  --eds-color-background-danger-medium-default: #ffc1bf;
  --eds-color-background-danger-medium-hover: #ffadab;
  --eds-color-background-danger-medium-active: #ff9897;

  --eds-color-background-danger-strong-default: #bc002a;
  --eds-color-background-danger-strong-hover: #9a1026;
  --eds-color-background-danger-strong-active: #8e1525;

  --eds-color-border-danger-subtle: #ffa3a1;
  --eds-color-border-danger-medium: #ff6e73;
  --eds-color-border-danger-strong: #f12844;

  --eds-color-text-danger-default: #831824;
  --eds-color-text-danger-strong: #571c1f;
  --eds-color-text-danger-contrast-subtle: #ffc6c4;
  --eds-color-text-danger-contrast-strong: #fff5f4;
}

[data-theme='dark'] {
  /************ CONCEPT ************/
  --eds-color-background-canvas: ;
  --eds-color-background-surface: ;
  --eds-color-background-elevated: ;
  --eds-color-background-backdrop: ;

  --eds-color-border-focus: ;

  /************ NEUTRAL ************/
  --eds-color-background-neutral-default: #0b0b0b;
  --eds-color-background-neutral-subtle: #222222;

  --eds-color-background-neutral-medium-default: #5b5b5b;
  --eds-color-background-neutral-medium-hover: #696969;
  --eds-color-background-neutral-medium-active: #7a7a7a;

  --eds-color-background-neutral-strong-default: #c4c4c4;
  --eds-color-background-neutral-strong-hover: #d7d7d7;
  --eds-color-background-neutral-strong-active: #e8e8e8;

  --eds-color-border-neutral-subtle: #5b5b5b;
  --eds-color-border-neutral-medium: #838383;
  --eds-color-border-neutral-strong: #b1b1b1;

  --eds-color-text-neutral-default: #e1e1e1;
  --eds-color-text-neutral-strong: #fcfcfc;
  --eds-color-text-neutral-contrast-subtle: #353535;
  --eds-color-text-neutral-contrast-strong: #030303;

  /************ ACCENT ************/
  --eds-color-background-accent-default: #0a0b0b;
  --eds-color-background-accent-subtle: #1e2323;

  --eds-color-background-accent-medium-default: #3c6266;
  --eds-color-background-accent-medium-hover: #3e7378;
  --eds-color-background-accent-medium-active: #41878e;

  --eds-color-background-accent-strong-default: #8cd2da;
  --eds-color-background-accent-strong-hover: #ace3e9;
  --eds-color-background-accent-strong-active: #c7f1f6;

  --eds-color-border-accent-subtle: #3c6266;
  --eds-color-border-accent-medium: #439199;
  --eds-color-border-accent-strong: #6ec0c9;

  --eds-color-text-accent-default: #bcebf1;
  --eds-color-text-accent-strong: #e6ffff;
  --eds-color-text-accent-contrast-subtle: #2c3839;
  --eds-color-text-accent-contrast-strong: #030303;

  /************ SUCCESS ************/
  --eds-color-background-success-default: #0a0c0a;
  --eds-color-background-success-subtle: #1e231e;

  --eds-color-background-success-medium-default: #3c673a;
  --eds-color-background-success-medium-hover: #3e793c;
  --eds-color-background-success-medium-active: #418e3e;

  --eds-color-background-success-strong-default: #8cdb87;
  --eds-color-background-success-strong-hover: #aceba8;
  --eds-color-background-success-strong-active: #c7f7c3;

  --eds-color-border-success-subtle: #3c673a;
  --eds-color-border-success-medium: #439941;
  --eds-color-border-success-strong: #6eca6a;

  --eds-color-text-success-default: #bcf2b8;
  --eds-color-text-success-strong: #e6ffe3;
  --eds-color-text-success-contrast-subtle: #2c392b;
  --eds-color-text-success-contrast-strong: #030303;

  /************ INFO ************/
  --eds-color-background-info-default: #0a0b0c;
  --eds-color-background-info-subtle: #1d2226;

  --eds-color-background-info-medium-default: #33607e;
  --eds-color-background-info-medium-hover: #316f98;
  --eds-color-background-info-medium-active: #2e82b7;

  --eds-color-background-info-strong-default: #7dceff;
  --eds-color-background-info-strong-hover: #a2e0ff;
  --eds-color-background-info-strong-active: #c4eeff;

  --eds-color-border-info-subtle: #33607e;
  --eds-color-border-info-medium: #2d8bc5;
  --eds-color-border-info-strong: #5abbfb;

  --eds-color-text-info-default: #b7e8ff;
  --eds-color-text-info-strong: #ecffff;
  --eds-color-text-info-contrast-subtle: #2a3741;
  --eds-color-text-info-contrast-strong: #030304;

  /************ WARNING ************/
  --eds-color-background-warning-default: #0c0b0a;
  --eds-color-background-warningwarning-subtle: #27201b;

  --eds-color-background-warning-medium-default: #7e4e25;
  --eds-color-background-warning-medium-hover: #97571b;
  --eds-color-background-warning-medium-active: #b46201;

  --eds-color-background-warning-strong-default: #ffad63;
  --eds-color-background-warning-strong-hover: #ffc791;
  --eds-color-background-warning-strong-active: #ffddb9;

  --eds-color-border-warning-subtle: #7e4e25;
  --eds-color-border-warning-medium: #c36800;
  --eds-color-border-warning-strong: #f99539;

  --eds-color-text-warning-default: #ffd4aa;
  --eds-color-text-warning-strong: #fff7e6;
  --eds-color-text-warning-contrast-subtle: #2c2928;
  --eds-color-text-warning-contrast-strong: #030303;

  /************ DANGER ************/
  --eds-color-background-danger-default: #0d0a0a;
  --eds-color-background-danger-subtle: #2a1e1e;

  --eds-color-background-danger-medium-default: #923a3c;
  --eds-color-background-danger-medium-hover: #b03940;
  --eds-color-background-danger-medium-active: #d43745;

  --eds-color-background-danger-strong-default: #ffa3a1;
  --eds-color-background-danger-strong-hover: #ffc1bf;
  --eds-color-background-danger-strong-active: #ffd9d7;

  --eds-color-border-danger-subtle: #923a3c;
  --eds-color-border-danger-medium: #e53748;
  --eds-color-border-danger-strong: #ff8082;

  --eds-color-text-danger-default: #ffd0ce;
  --eds-color-text-danger-strong: #fff5f4;
  --eds-color-text-danger-contrast-subtle: #492d2c;
  --eds-color-text-danger-contrast-strong: #040303;
}
