:root {
  --eds-background-container-canvas-default: var(--eds-neutral-1);
  --eds-background-container-card-default: var(--eds-neutral-15);
  --eds-background-container-popover-default: var(--eds-neutral-15);
  --eds-background-container-popover-inverted: var(--eds-neutral-12);
  --eds-background-container-sheet-dialog-default: var(--eds-neutral-15);
  --eds-background-surface-accent-default-default: var(--eds-accent-14);
  --eds-background-surface-accent-default-hover: var(--eds-accent-11);
  --eds-background-surface-accent-default-pressed: var(--eds-accent-15);
  --eds-background-surface-accent-selected-default: var(--eds-accent-5);
  --eds-background-surface-accent-selected-hover: var(--eds-accent-6);
  --eds-background-surface-accent-selected-pressed: var(--eds-accent-7);
  --eds-background-surface-accent-subtle-default: var(--eds-accent-2);
  --eds-background-surface-accent-subtle-hover: var(--eds-accent-4);
  --eds-background-surface-accent-subtle-pressed: var(--eds-accent-6);
  --eds-background-surface-default-active: var(--eds-neutral-2);
  --eds-background-surface-default-default: var(--eds-neutral-1);
  --eds-background-surface-default-disabled: var(--eds-neutral-1);
  --eds-background-surface-default-hover: var(--eds-neutral-2);
  --eds-background-surface-default-muted: var(--eds-neutral-1);
  --eds-background-surface-default-pressed: var(--eds-neutral-3);
  --eds-background-surface-default-read-only: var(--eds-neutral-1);
  --eds-background-surface-default-selected-default: var(--eds-accent-2);
  --eds-background-surface-default-selected-hover: var(--eds-accent-3);
  --eds-background-surface-default-selected-pressed: var(--eds-accent-4);
  --eds-border-default: var(--eds-neutral-4);
  --eds-border-disabled: var(--eds-neutral-2);
  --eds-border-emphasized: var(--eds-neutral-6);
  --eds-border-focus: var(--eds-border-focus);
  --eds-border-hover: var(--eds-neutral-7);
  --eds-border-selected: var(--eds-accent-13);
  --eds-border-subtle: var(--eds-neutral-2);
  --eds-corner-radius-none: var(--eds-density-corner-radius-none);
  --eds-corner-radius-pill: var(--eds-density-corner-radius-pill);
  --eds-corner-radius-rounded: var(--eds-density-corner-radius-rounded);
  --eds-corner-radius-rounded-outer: var(--eds-density-corner-radius-rounded-outer);
  --eds-font-family-header: var(--eds-family-header);
  --eds-font-family-ui: var(--eds-family-ui);
  --eds-font-weight-bolder: var(--eds-weight-bolder);
  --eds-font-weight-lighter: var(--eds-weight-lighter);
  --eds-font-weight-normal: var(--eds-weight-normal);
  --eds-icon-accent: var(--eds-accent-13);
  --eds-icon-accent-hover: var(--eds-accent-14);
  --eds-icon-accent-pressed: var(--eds-accent-15);
  --eds-icon-color-on-dark: var(--eds-neutral-14);
  --eds-icon-color-on-light: var(--eds-neutral-12);
  --eds-icon-disabled: var(--eds-neutral-5);
  --eds-icon-muted: var(--eds-neutral-7);
  --eds-icon-on-accent: var(--eds-neutral-14);
  --eds-icon-primary: var(--eds-neutral-10);
  --eds-icon-secondary: var(--eds-neutral-8);
  --eds-overlay-scrim: rgb(29 29 29 / 0.1);
  --eds-spacing-2xl: var(--eds-density-spacing-2xl);
  --eds-spacing-2xs: var(--eds-density-spacing-2xs);
  --eds-spacing-3xl: var(--eds-density-spacing-3xl);
  --eds-spacing-3xs: var(--eds-density-spacing-3xs);
  --eds-spacing-4xs: var(--eds-density-spacing-4xs);
  --eds-spacing-lg: var(--eds-density-spacing-lg);
  --eds-spacing-md: var(--eds-density-spacing-md);
  --eds-spacing-none: var(--eds-density-spacing-none);
  --eds-spacing-sm: var(--eds-density-spacing-sm);
  --eds-spacing-xl: var(--eds-density-spacing-xl);
  --eds-spacing-xs: var(--eds-density-spacing-xs);
  --eds-status-warning-default: var(--eds-warning-1);
  --eds-status-warning-emphased-default: var(--eds-warning-8);
  --eds-status-warning-emphased-hover: var(--eds-warning-11);
  --eds-status-warning-emphased-selected: var(--eds-warning-12);
  --eds-status-warning-hover: var(--eds-warning-3);
  --eds-status-warning-selected: var(--eds-warning-5);
  --eds-text-accent: var(--eds-info-8);
  --eds-text-color-on-dark: var(--eds-neutral-14);
  --eds-text-color-on-light: var(--eds-neutral-12);
  --eds-text-disabled: var(--eds-neutral-5);
  --eds-text-muted: var(--eds-neutral-7);
  --eds-text-on-accent: var(--eds-neutral-14);
  --eds-text-pressed: var(--eds-info-10);
  --eds-text-primary: var(--eds-neutral-12);
  --eds-text-secondary: var(--eds-neutral-8);
  --eds-text-status-on-dark: var(--eds-warning-15);
  --eds-text-status-on-light: var(--eds-warning-11);
  --eds-typography-header-2xl-font-size: var(--eds-density-typography-header-2xl-font-size);
  --eds-typography-header-2xl-line-height: var(--eds-density-typography-header-2xl-line-height);
  --eds-typography-header-3xl-font-size: var(--eds-density-typography-header-3xl-font-size);
  --eds-typography-header-3xl-line-height: var(--eds-density-typography-header-3xl-line-height);
  --eds-typography-header-4xl-font-size: var(--eds-density-typography-header-4xl-font-size);
  --eds-typography-header-4xl-line-height: var(--eds-density-typography-header-4xl-line-height);
  --eds-typography-header-lg-font-size: var(--eds-density-typography-header-lg-font-size);
  --eds-typography-header-lg-line-height: var(--eds-density-typography-header-lg-line-height);
  --eds-typography-header-md-font-size: var(--eds-density-typography-header-md-font-size);
  --eds-typography-header-md-line-height: var(--eds-density-typography-header-md-line-height);
  --eds-typography-header-sm-font-size: var(--eds-density-typography-header-sm-font-size);
  --eds-typography-header-sm-line-height: var(--eds-density-typography-header-sm-line-height);
  --eds-typography-header-xl-font-size: var(--eds-density-typography-header-xl-font-size);
  --eds-typography-header-xl-line-height: var(--eds-density-typography-header-xl-line-height);
  --eds-typography-header-xs-font-size: var(--eds-density-typography-header-xs-font-size);
  --eds-typography-header-xs-line-height: var(--eds-density-typography-header-xs-line-height);
  --eds-typography-ui-2xl-font-size: var(--eds-density-typography-ui-2xl-font-size);
  --eds-typography-ui-2xl-line-height: var(--eds-density-typography-ui-2xl-line-height);
  --eds-typography-ui-3xl-font-size: var(--eds-density-typography-ui-3xl-font-size);
  --eds-typography-ui-3xl-line-height: var(--eds-density-typography-ui-3xl-line-height);
  --eds-typography-ui-4xl-font-size: var(--eds-density-typography-ui-4xl-font-size);
  --eds-typography-ui-4xl-line-height: var(--eds-density-typography-ui-4xl-line-height);
  --eds-typography-ui-5xl-font-size: var(--eds-density-typography-ui-5xl-font-size);
  --eds-typography-ui-5xl-line-height: var(--eds-density-typography-ui-5xl-line-height);
  --eds-typography-ui-lg-font-size: var(--eds-density-typography-ui-lg-font-size);
  --eds-typography-ui-lg-line-height: var(--eds-density-typography-ui-lg-line-height);
  --eds-typography-ui-md-font-size: var(--eds-density-typography-ui-md-font-size);
  --eds-typography-ui-md-line-height: var(--eds-density-typography-ui-md-line-height);
  --eds-typography-ui-sm-font-size: var(--eds-density-typography-ui-sm-font-size);
  --eds-typography-ui-sm-line-height: var(--eds-density-typography-ui-sm-line-height);
  --eds-typography-ui-xl-font-size: var(--eds-density-typography-ui-xl-font-size);
  --eds-typography-ui-xl-line-height: var(--eds-density-typography-ui-xl-line-height);
  --eds-typography-ui-xs-font-size: var(--eds-density-typography-ui-xs-font-size);
  --eds-typography-ui-xs-line-height: var(--eds-density-typography-ui-xs-line-height);
}