name: _Setup
on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: false
      cacheKey:
        type: string
        required: true
      checkout_paths:
        type: string
        required: true
    secrets:
      SLACK_WEBHOOK_URL:
        required: false
    outputs:
      tag:
        description: 'Package tag'
        value: ${{ jobs.variables.outputs.tag }}

permissions:
  contents: read

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  variables:
    runs-on: ubuntu-latest
    env:
      INPUT_TAG: '${{ inputs.tag }}'
    outputs:
      tag: '${{ env.tag }}'
    steps:
      - id: input-tag
        if: "${{ env.INPUT_TAG != '' }}"
        run: echo "tag=${{ env.INPUT_TAG }}" >> $GITHUB_ENV
      - id: default-tag
        if: "${{ env.INPUT_TAG == '' }}"
        run: echo "tag=next" >> $GITHUB_ENV
      - name: Print generated values
        run: echo "tag -> ${{ env.tag }}"
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
  files:
    runs-on: ubuntu-latest
    env:
      INPUT_PATHS: '${{ inputs.checkout_paths }}'
    steps:
      - id: checkout-files
        # if: steps.cache-files.outputs.cache-hit != 'true'
        name: Checkout files
        run: |
          REPO="https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
          BRANCH="${GITHUB_REF/#refs\/heads\//}"

          # Reference https://github.com/actions/checkout/issues/172
          # Following code is based on logs of actions/checkout@v, with sparseCheckout stuff inserted in the middle
          echo "Syncing repository: $GITHUB_REPOSITORY"
          echo "Working directory is '$(pwd)' GITHUB_WORKSPACE=$GITHUB_WORKSPACE BRANCH=$BRANCH"
          git version
          git init $GITHUB_WORKSPACE
          git remote add origin https://github.com/$GITHUB_REPOSITORY
          git config --local gc.auto 0
          # Now interesting part
          git sparse-checkout init --cone
          # Add here contents of sparse-checkout line by line
          git sparse-checkout set package.json pnpm-lock.yaml ${{ env.INPUT_PATHS }}
          # echo ...
          git -c protocol.version=2 fetch --no-tags --prune --progress --depth=10 origin +${GITHUB_SHA}:refs/remotes/origin/${BRANCH}
          git checkout --progress --force -B $BRANCH refs/remotes/origin/$BRANCH
      - id: cache-pnpm-store
        name: Cache pnpm-store
        uses: actions/cache@v5
        with:
          path: |
            ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-and-store-force-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.12.0'
      - name: Setup pnpm
        id: setup-pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install dependencies recursively
        id: install-dependencies
        # if: steps.cache-pnpm-store.outputs.cache-hit != 'true'
        run: pnpm install --force
      - id: cache-files
        name: Cache files
        uses: actions/cache@v5
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ inputs.cacheKey }}
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: ${{ github.event.pull_request.head.repo.fork }} = 'false' &&  failure()
