name: Checks
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "apps/**"
      - "packages/**"
      - ".github/workflows/**"
  push:
    branches:
      - main
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  setup:
    uses: ./.github/workflows/_setup.yml
    secrets: inherit
    with:
      cacheKey: ${{ github.sha }}
      checkout_paths: packages apps scripts .github
  packages:
    name: Process packages
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Use "setup" cache
        id: setup-cache
        uses: actions/cache@v5
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}
      - name: Fallback checkout (cache miss)
        if: steps.setup-cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22.12.0"
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Fallback install (cache miss)
        if: steps.setup-cache.outputs.cache-hit != 'true'
        run: pnpm install
      - name: Build packages
        id: build-packages
        run: pnpm run build
      - name: Test packages
        id: test-packages
        run: pnpm run test
      - name: Lint packages
        id: lint-packages
        run: pnpm run lint:all
      - name: Type check packages
        id: type-check-packages
        run: pnpm run types
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
