name: Checks
on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
    paths:
      - 'packages/eds-core-react/**'
      - 'packages/eds-lab-react/**'
      - 'packages/eds-tokens/**'
      - 'packages/eds-icons/**'
  push:
    branches:
      - develop
jobs:
  setup:
    uses: equinor/design-system/.github/workflows/_setup.yml@develop
    with:
      cacheKey: ${{ github.sha }}
  packages:
    name: Check packages
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Use "setup" cache
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}
      - name: Build packages
        run: node_modules/.bin/pnpm run build
      - name: Test packages
        run: node_modules/.bin/pnpm run test
      - name: Lint packages
        run: node_modules/.bin/pnpm run lint:all
      - name: Type check packages
        run: node_modules/.bin/pnpm run types
