name: Checks
on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
    paths:
      - 'packages/eds-core-react/**'
      - 'packages/eds-lab-react/**'
      - 'packages/eds-data-grid-react/**'
      - 'packages/eds-tokens/**'
      - 'packages/eds-icons/**'
  push:
    branches:
      - develop
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  setup:
    uses: equinor/design-system/.github/workflows/_setup.yml@develop
    secrets: inherit
    with:
      cacheKey: ${{ github.sha }}
      checkout_paths: packages/eds-core-react packages/eds-tokens packages/eds-icons packages/eds-lab-react packages/eds-data-grid-react packages/eds-utils
  packages:
    name: Process packages
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Use "setup" cache
        id: setup-cache
        uses: actions/cache@v4
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}
      - name: Build packages
        id: build-packages
        run: node_modules/.bin/pnpm run build
      - name: Test packages
        id: test-packages
        run: node_modules/.bin/pnpm run test
      - name: Lint packages
        id: lint-packages
        run: node_modules/.bin/pnpm run lint:all
      - name: Type check packages
        id: type-check-packages
        run: node_modules/.bin/pnpm run types
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
