name: Publish core-react
on:
  workflow_dispatch:
    inputs:
      npm-tag:
        description: 'Tag for npm package (next | latest)'
        required: true
        default: 'next'
      environment:
        description: 'Environment for Storybook (development | production)'
        required: false
        type: choice
        options:
          - development
          - production
        default: 'development'
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  setup:
    uses: equinor/design-system/.github/workflows/_setup_new.yml@develop
    secrets: inherit
    with:
      cacheKey: ${{ github.sha }}
      checkout_paths: packages/eds-core-react packages/eds-tokens packages/eds-icons packages/eds-core-react packages/eds-utils
      tag: ${{ github.event.inputs.npm-tag }}
  packages:
    name: Process packages
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Use "setup" cache
        id: setup-cache
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}
      - name: Use "dist" cache
        id: dist-cache
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}-dist-${{ github.event.inputs.environment }}-core-react
      - name: Build packages
        id: build-packages
        run: node_modules/.bin/pnpm run build
      - name: Build Storybook
        id: build-storybook
        run: node_modules/.bin/pnpm build:storybook
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
  publish-utils-package:
    name: Publish utils to npm
    runs-on: ubuntu-latest
    needs: [packages, setup]
    steps:
      - name: Use "dist" cache
        id: dist-cache
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}-dist-${{ github.event.inputs.environment }}-core-react
      - name: Publish to npm
        id: publish-to-npm
        run: |
          node_modules/.bin/pnpm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}
          node_modules/.bin/pnpm --filter @equinor/eds-utils publish --access public --tag ${{ needs.setup.outputs.tag }} --no-git-checks
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
  publish-core-package:
    name: Publish core-react to npm
    runs-on: ubuntu-latest
    needs: [publish-utils-package, setup]
    steps:
      - name: Use "dist" cache
        id: dist-cache
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}-dist-${{ github.event.inputs.environment }}-core-react
      - name: Publish to npm
        id: publish-to-npm
        run: |
          node_modules/.bin/pnpm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}
          node_modules/.bin/pnpm --filter @equinor/eds-core-react publish --access public --tag ${{ needs.setup.outputs.tag }} --no-git-checks
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
  # TODO: Delete once new storybook is used
  publish-old-storybook:
    name: Publish Storybook
    needs: [setup, packages]
    uses: equinor/design-system/.github/workflows/_azure_docker.yml@develop
    with:
      stage: ${{ needs.setup.outputs.stage }}
      cacheKey: ${{ github.sha }}-dist-${{ needs.setup.outputs.stage }}-core-react
      dockerfilePath: './packages/eds-core-react/Dockerfile.storybook'
    secrets:
      REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  publish-storybook:
    needs: [setup, packages]
    name: Build & Deploy Website
    runs-on: ubuntu-latest
    steps:
      - name: Use cache with storybook files
        id: use-cache-storybook
        uses: actions/cache@v3
        with:
          path: |
            ./*
            ~/.pnpm-store
          key: ${{ github.sha }}-dist-${{ github.event.inputs.environment }}-core-react
      - name: Deploy the website
        id: deploy-website
        uses: tibor19/static-website-deploy@v2
        with:
          enabled-static-website: 'true'
          folder: 'packages/eds-core-react/storybook-build'
          public-access-policy: 'container'
          connection-string: ${{ secrets.AZ_STORAGE_CONNECTION_STRING_2022 }}
      - name: log-errors-to-slack
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
